main {
  background: $grayscale-200;
}
.bg-travel {
  background: $primary-travel !important;
}
.txt-white {
  color: $white !important;
}
.txt-travel {
  color: $primary-travel;
}
.flex-start {
  justify-content: start !important;
}
.ic-travel {
  &::before {
    color: $primary-travel;
  }
}
.point-none{
  pointer-events: none;
}
.section-detail {
  padding-bottom: 20px;
}
// .stepper {
//   justify-content: center;
//   &-item {
//     flex: none;
//   }
// }
.w-80 {
  width: 80%;
}
.boder-bg {
  height: 1px;
  background: $grayscale-500;
  width: calc(70%);
  margin-left: 30px;
}
.txt-travel-orange {
  color: #f06336;
}
.btn-choose {
  font-weight: 600;
  padding: 6px 15px;
  background: rgba(240, 99, 54, 0.1);
  display: inline-flex;
  color: #f06336;
  flex-direction: row;
  border-radius: 12px;
  align-items: center;
  &.active {
    background: #f06336;
    color: $white;
  }
}
.c-timeline__item {
  position: relative;
  display: flex;
  gap: 1.5rem;
  &:last-child {
    .c-timeline__content {
      &:before {
        display: none;
      }
    }
  }
}

.c-timeline__content {
  position: relative;
  order: 1;
  padding-left: 1.5rem;
  padding-bottom: 31px;

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #0664f9;
  }
  &::after {
    content: "";
    position: absolute;
    left: calc(0px - 6px);
    top: 0;
    width: 10px;
    height: 10px;
    background: #0664f9;
    z-index: 1;
    border: 1px solid lightgrey;
    border-radius: 50%;
  }
  &.frist {
    &::after {
      content: "";
      position: absolute;
      left: calc(0px - 6px);
      top: 0;
      width: 10px;
      height: 10px;
      background: $grayscale-200;
      z-index: 1;
      border: 1px solid lightgrey;
      border-radius: 50%;
    }
  }
}

.c-timeline__title {
  font-weight: bold;
}

.c-timeline__desc {
  color: grey;
}
.ic-flight {
  position: relative;
  top: -3px;
  width: 3px;
  height: 3px;
}
.uppercase {
  text-transform: uppercase;
}
.shadow-top {
  box-shadow: inset 0 1px 0 0 #e9ecef;
}
.p-15 {
  padding: 15px;
}
.p-t-15 {
  padding-top: 15px;
}
.bg-white {
  background: $white !important;
}
.btn-change-flight {
  background: rgba(77, 70, 250, 0.1);
  border-radius: 12px;
  color: #4d46fa;
  &:hover {
    background: rgba(65, 60, 218, 0.2);
  }
}
.align-center {
  align-items: center;
}

.section-flying {
  .area {
    i {
      color: $grayscale-500;
    }
  }
  .area-optioned {
    padding: 30px 0px;
    ul {
      li {
        font-weight: 600;
        color: $black;
        &:not(:first-child) {
          strong {
            font-weight: 600;
          }
          span {
            font-weight: inherit;
          }
          &::before {
            font-weight: 400;
            padding-right: 5px;
            padding-left: 5px;
            color: #cccc;
            font-size: 16px;
            content: "|";
          }
        }
      }
    }
  }
  .btn-change {
    background: #f06336;
    display: inline-flex;
    color: $white;
    flex-direction: row;
    border-radius: 12px;
    align-items: center;
    i {
      margin-left: 10px;
    }
  }
}
.flying {
  &-filter {
    &-text {
      color: $grayscale-600;
    }
    &-dropdown {
      border-radius: 12px;
    }
  }
  &-total {
    border-radius: 12px 12px 0px 0px;
    background: $white;
    &-title {
      padding: 15px;
      text-align: start;
    }
    &-inner {
      padding: 15px;
      box-shadow: inset 0 1px 0 0 #e9ecef;
    }
    &-num {
      background: $grayscale-500;
      color: $white;
      border-radius: 100px;
      padding: 6px 8px;
    }
    &-img {
      max-height: 30px;
      max-width: 30px;
      border-radius: 12px;
    }
    &-link {
      &:hover {
        color: $primary-travel !important;
      }
      &::before {
        background-color: $primary-travel !important;
      }
    }
    &-change {
    }
  }
  &-stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .stepper {
      width: 100%;
    }
    .stepper-item {
      &:not(:first-child) {
        .stepper-tab {
          &:before {
            top: 4px;
            background: $primary-travel;
            height: 1px;
          }
          &::after {
            top: 4px;
            height: 1px;
            background: $primary-travel;
          }
        }
      }
      &.begin {
        .stepper-circle {
          background: $white !important;
        }
      }
    }
    .stepper-circle {
      background: $primary-travel !important;
      border-color: $primary-travel !important;
      width: 8px;
      height: 8px;
    }
    &-time {
      span {
        border-radius: 30px;
        background: $grayscale-200;
        padding: 4px;
      }
    }
  }
  &-subtotal {
    background: #f8f8f8;
    border-radius: 0px 0px 12px 12px;
    &-price {
      color: #f06336;
    }
  }
  &-wrapper {
    background: #ffffff;
    border-radius: 12px;
    padding: 16px;
    &-logo {
      display: flex;
      align-items: center;
      img {
        max-width: 30px;
        max-height: 30px;
      }
    }
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .wrapper-col3 {
        width: calc(100% / 3 - 15px);
        // justify-content: space-between;
      }
    }
    &-seat {
      background: #f4f2f9;
      border-radius: 12px;
      padding: 15px;
      .items-childrent {
        width: calc(100% / 2);
      }
    }
  }
  &-total-link {
    color: $grayscale-500;
    transition: all 0.3s ease-in;
    &.active {
      color: $primary-travel;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #0664f9;
        transform: scaleX(1);
        transition: transform 0.3s cubic-bezier(0, 0, 0.4, 1),
          -webkit-transform 0.3s cubic-bezier(0, 0, 0.4, 1);
      }
    }
  }
}
