.btn-travel {
  background: $primary-travel;
}
.mr-4 {
  margin-right: 4px !important;
}
.mr-6 {
  margin-right: 6px !important;
}
.mr-20 {
  margin-right: 20px;
}
.border-none {
  border: none !important;
  &::before {
    border: none !important;
  }
}
.focus-none {
  box-shadow: none !important;
}
a {
  color: black;
}
.txt-travel {
  color: $primary-travel;
}
.f-s-p-72 {
  font-size: 62px;
  line-height: 90px;
}
.all-bg {
  background: url(../../images/travel/travel-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.tv-header {
  .tv-items {
    li {
      transition: all 0.6s ease;
      padding: 10px 15px;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 100px;
      }
    }
  }
  .tv-main-text {
    font-family: "samsung";
  }
  .tv-vn {
    &:checked::before {
      background: none !important;
      transform: scale(0.75) !important;
      width: 20px !important;
      height: 20px !important;
    }
    &::after {
      width: 21px !important;
      height: 21px !important;
      background-image: url("../../images/travel/vietnam-input.png") !important;
    }
  }
  .tv-us {
    &:checked::before {
      background: none !important;
      transform: scale(0.75) !important;
      width: 20px !important;
      height: 20px !important;
    }
    &::after {
      width: 21px !important;
      height: 21px !important;
      background-image: url("../../images/travel/united-states-input.png") !important;
    }
  }
}
.section-bg {
  padding-top: 159px;
  padding-bottom: 331px;
}
.booking {
  &-layout {
    background: $white;
  }
  &-radio {
    input {
      &:after {
        background: #f4f2f9 !important;
        border-color: #f4f2f9 !important ;
      }
      &:checked::before {
        background: $white !important;
        transform: scale(0.5) !important;
      }
      &:checked::after {
        background: $primary-travel !important;
        border-color: $primary-travel !important;
      }
      &:checked {
        ~ {
          label {
            .label-text {
              font-weight: 700 !important;
            }
          }
        }
      }
    }
  }
  &-result {
    font-weight: 600;

    span {
      font-weight: 600;
    }
    strong {
      font-weight: 600;
    }
  }
}
.section {
  &-booking {
    max-width: 1230px;
    position: relative;
    background: $white;
    box-shadow: 0px 4px 30px rgba(77, 70, 250, 0.1);
    border-radius: 12px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 32px;
    margin: auto;
    margin-top: -10%;
    .booking-warpper {
      align-items: center;
      .flying {
        &-from {
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 12px;
          max-width: 300px;
          width: 100%;
          padding: 15px;
          &.active {
            border: 2px solid $primary-travel;
          }
        }
        &-to {
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 12px;
          max-width: 300px;
          width: 100%;
          padding: 15px;
          &.active {
            border: 2px solid $primary-travel;
          }
        }
        &-dropdown {
          .flying-from-city {
            font-size: 24px;
            color: $primary-travel;
            font-weight: 600;
            line-height: 36px;
          }
          span {
            font-weight: 600;
            display: block;
            color: $black;
          }
        }
        &-change {
          display: flex;
          max-width: 60px;
          width: 100%;
          background: $white;
          border-radius: 1000px;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(0, 0, 0, 0.1);
          cursor: pointer;
          height: 60px;
          margin: 0 -1%;
          z-index: 1;
        }
        &-calender {
          padding: 15px;
          margin-left: 20px;
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 12px;
          width: 100%;
          &-inner {
            input {
              color: $primary-travel;
            }
            i {
              color: $primary-travel;
            }
          }
        }
        &-derection {
          a {
            color: $black;
            &::before {
              background-color: $black;
            }
            &:hover {
              color: $black;
              top: -1px;
            }
          }
        }
      }
    }
  }
}
