// properties
$icon-props: (
  'xl': (
    size-default: 28px,
    size-inner: 22px,
  ),
  'lg': (
    size-default: 20px,
    size-inner: 15px,
  ),
  'md': (
    size-default: 18px,
    size-inner: 12px,
  ),
  'sm': (
    size-default: 16px,
    size-inner: 11px,
  ),
  'xs': (
    size-default: 14px,
    size-inner: 10px,
  ),
  'xxs': (
    size-default: 12px,
    size-inner: 9px,
  ),
);

.ic {
  display: inline-block;
  line-height: 1;
  color: $grayscale;
}

[class^='ic-'],
[class*=' ic-'],
[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$font-icon-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-connect-speaker {
  &:before {
    content: $ic-connect-speaker;
  }
}
.ic-coverage {
  &:before {
    content: $ic-coverage;
  }
}
.ic-dpi {
  &:before {
    content: $ic-dpi;
  }
}
.ic-electric-toothbrush {
  &:before {
    content: $ic-electric-toothbrush;
  }
}
.ic-fast-charging {
  &:before {
    content: $ic-fast-charging;
  }
}
.ic-feature {
  &:before {
    content: $ic-feature;
  }
}
.ic-hdd-driver {
  &:before {
    content: $ic-hdd-driver;
  }
}
.ic-ink-color {
  &:before {
    content: $ic-ink-color;
  }
}
.ic-memory-storage {
  &:before {
    content: $ic-memory-storage;
  }
}
.ic-page-max {
  &:before {
    content: $ic-page-max;
  }
}
.ic-power-2 {
  &:before {
    content: $ic-power-2;
  }
}
.ic-responsive {
  &:before {
    content: $ic-responsive;
  }
}
.ic-router-users {
  &:before {
    content: $ic-router-users;
  }
}
.ic-specifications {
  &:before {
    content: $ic-specifications;
  }
}
.ic-speed-memory {
  &:before {
    content: $ic-speed-memory;
  }
}
.ic-usb {
  &:before {
    content: $ic-usb;
  }
}
.ic-usb-capacity {
  &:before {
    content: $ic-usb-capacity;
  }
}
.ic-wireless-router {
  &:before {
    content: $ic-wireless-router;
  }
}
.ic-adapter-3 {
  &:before {
    content: $ic-adapter-3;
  }
}
.ic-bmi {
  &:before {
    content: $ic-bmi;
  }
}
.ic-connect-headphones {
  &:before {
    content: $ic-connect-headphones;
  }
}
.ic-connector {
  &:before {
    content: $ic-connector;
  }
}
.ic-4k {
  &:before {
    content: $ic-4k;
  }
}
.ic-camera-noise {
  &:before {
    content: $ic-camera-noise;
  }
}
.ic-charger-pd {
  &:before {
    content: $ic-charger-pd;
  }
}
.ic-chromecast {
  &:before {
    content: $ic-chromecast;
  }
}
.ic-frequency {
  &:before {
    content: $ic-frequency;
  }
}
.ic-gan-technology {
  &:before {
    content: $ic-gan-technology;
  }
}
.ic-index {
  &:before {
    content: $ic-index;
  }
}
.ic-measure-heartbeat {
  &:before {
    content: $ic-measure-heartbeat;
  }
}
.ic-micro {
  &:before {
    content: $ic-micro;
  }
}
.ic-ohm {
  &:before {
    content: $ic-ohm;
  }
}
.ic-private-data {
  &:before {
    content: $ic-private-data;
  }
}
.ic-resolution {
  &:before {
    content: $ic-resolution;
  }
}
.ic-usb-a {
  &:before {
    content: $ic-usb-a;
  }
}
.ic-usb-charger {
  &:before {
    content: $ic-usb-charger;
  }
}
.ic-usb-ethernet {
  &:before {
    content: $ic-usb-ethernet;
  }
}
.ic-virtual {
  &:before {
    content: $ic-virtual;
  }
}
.ic-wireless-charging {
  &:before {
    content: $ic-wireless-charging;
  }
}
.ic-antenna {
  &:before {
    content: $ic-antenna;
  }
}
.ic-battery-core {
  &:before {
    content: $ic-battery-core;
  }
}
.ic-earbuds {
  &:before {
    content: $ic-earbuds;
  }
}
.ic-cleaner {
  &:before {
    content: $ic-cleaner;
  }
}
.ic-connects {
  &:before {
    content: $ic-connects;
  }
}
.ic-connet-phone {
  &:before {
    content: $ic-connet-phone;
  }
}
.ic-earphone {
  &:before {
    content: $ic-earphone;
  }
}
.ic-fan-night {
  &:before {
    content: $ic-fan-night;
  }
}
.ic-hair-care {
  &:before {
    content: $ic-hair-care;
  }
}
.ic-hot-cool {
  &:before {
    content: $ic-hot-cool;
  }
}
.ic-infrared-sensor {
  &:before {
    content: $ic-infrared-sensor;
  }
}
.ic-inox {
  &:before {
    content: $ic-inox;
  }
}
.ic-insulation {
  &:before {
    content: $ic-insulation;
  }
}
.ic-length {
  &:before {
    content: $ic-length;
  }
}
.ic-light {
  &:before {
    content: $ic-light;
  }
}
.ic-magnet {
  &:before {
    content: $ic-magnet;
  }
}
.ic-motion-sensor {
  &:before {
    content: $ic-motion-sensor;
  }
}
.ic-sensor {
  &:before {
    content: $ic-sensor;
  }
}
.ic-size {
  &:before {
    content: $ic-size;
  }
}
.ic-speakers {
  &:before {
    content: $ic-speakers;
  }
}
.ic-spO2 {
  &:before {
    content: $ic-spO2;
  }
}
.ic-technology {
  &:before {
    content: $ic-technology;
  }
}
.ic-turn {
  &:before {
    content: $ic-turn;
  }
}
.ic-vaccum-cleaner {
  &:before {
    content: $ic-vaccum-cleaner;
  }
}
.ic-voice {
  &:before {
    content: $ic-voice;
  }
}
.ic-water-proof {
  &:before {
    content: $ic-water-proof;
  }
}
.ic-water-proof-1 {
  &:before {
    content: $ic-water-proof-1;
  }
}
.ic-acreage {
  &:before {
    content: $ic-acreage;
  }
}
.ic-angle-light {
  &:before {
    content: $ic-angle-light;
  }
}
.ic-anti-noise {
  &:before {
    content: $ic-anti-noise;
  }
}
.ic-app {
  &:before {
    content: $ic-app;
  }
}
.ic-brush-sensor {
  &:before {
    content: $ic-brush-sensor;
  }
}
.ic-calling {
  &:before {
    content: $ic-calling;
  }
}
.ic-samsung-fold {
  &:before {
    content: $ic-samsung-fold;
  }
}
.ic-samsung-headphone {
  &:before {
    content: $ic-samsung-headphone;
  }
}
.ic-samsung-phone {
  &:before {
    content: $ic-samsung-phone;
  }
}
.ic-samsung-tablet {
  &:before {
    content: $ic-samsung-tablet;
  }
}
.ic-samsung-watch {
  &:before {
    content: $ic-samsung-watch;
  }
}
.ic-stationary-bike {
  &:before {
    content: $ic-stationary-bike;
  }
}
.ic-treadmill {
  &:before {
    content: $ic-treadmill;
  }
}
.ic-consume-gas {
  &:before {
    content: $ic-consume-gas;
  }
}
.ic-gas-stove {
  &:before {
    content: $ic-gas-stove;
  }
}
.ic-lighter-system {
  &:before {
    content: $ic-lighter-system;
  }
}
.ic-number-gas {
  &:before {
    content: $ic-number-gas;
  }
}
.ic-samsung-cable {
  &:before {
    content: $ic-samsung-cable;
  }
}
.ic-samsung-combined {
  &:before {
    content: $ic-samsung-combined;
  }
}
.ic-samsung-cover {
  &:before {
    content: $ic-samsung-cover;
  }
}
.ic-hood {
  &:before {
    content: $ic-hood;
  }
}
.ic-number-dishwasher {
  &:before {
    content: $ic-number-dishwasher;
  }
}
.ic-dehumidifiers {
  &:before {
    content: $ic-dehumidifiers;
  }
}
.ic-digital-door {
  &:before {
    content: $ic-digital-door;
  }
}
.ic-dishwasher {
  &:before {
    content: $ic-dishwasher;
  }
}
.ic-key-FPT {
  &:before {
    content: $ic-key-FPT;
  }
}
.ic-massage-regime {
  &:before {
    content: $ic-massage-regime;
  }
}
.ic-massage-bag {
  &:before {
    content: $ic-massage-bag;
  }
}
.ic-massage-chair {
  &:before {
    content: $ic-massage-chair;
  }
}
.ic-anti-virus {
  &:before {
    content: $ic-anti-virus;
  }
}
.ic-bus {
  &:before {
    content: $ic-bus;
  }
}
.ic-card-online {
  &:before {
    content: $ic-card-online;
  }
}
.ic-cart-2 {
  &:before {
    content: $ic-cart-2;
  }
}
.ic-cash {
  &:before {
    content: $ic-cash;
  }
}
.ic-data {
  &:before {
    content: $ic-data;
  }
}
.ic-film {
  &:before {
    content: $ic-film;
  }
}
.ic-insuran-accident {
  &:before {
    content: $ic-insuran-accident;
  }
}
.ic-insuran-car {
  &:before {
    content: $ic-insuran-car;
  }
}
.ic-insuran-health {
  &:before {
    content: $ic-insuran-health;
  }
}
.ic-insuran-money {
  &:before {
    content: $ic-insuran-money;
  }
}
.ic-insuran-moto {
  &:before {
    content: $ic-insuran-moto;
  }
}
.ic-airport {
  &:before {
    content: $ic-airport;
  }
}
.ic-list {
  &:before {
    content: $ic-list;
  }
}
.ic-machine-massage {
  &:before {
    content: $ic-machine-massage;
  }
}
.ic-clothes-dryer {
  &:before {
    content: $ic-clothes-dryer;
  }
}
.ic-coffee-grinder {
  &:before {
    content: $ic-coffee-grinder;
  }
}
.ic-coffee-machine {
  &:before {
    content: $ic-coffee-machine;
  }
}
.ic-pc-tower {
  &:before {
    content: $ic-pc-tower;
  }
}
.ic-capacity {
  &:before {
    content: $ic-capacity;
  }
}
.ic-case-pc-size {
  &:before {
    content: $ic-case-pc-size;
  }
}
.ic-chipset {
  &:before {
    content: $ic-chipset;
  }
}
.ic-connection {
  &:before {
    content: $ic-connection;
  }
}
.ic-cpu-cores {
  &:before {
    content: $ic-cpu-cores;
  }
}
.ic-cpu-thread {
  &:before {
    content: $ic-cpu-thread;
  }
}
.ic-hard-drive-speed {
  &:before {
    content: $ic-hard-drive-speed;
  }
}
.ic-input-source {
  &:before {
    content: $ic-input-source;
  }
}
.ic-mainboard-size {
  &:before {
    content: $ic-mainboard-size;
  }
}
.ic-memory-interface {
  &:before {
    content: $ic-memory-interface;
  }
}
.ic-performance {
  &:before {
    content: $ic-performance;
  }
}
.ic-radiator-fan-size {
  &:before {
    content: $ic-radiator-fan-size;
  }
}
.ic-radiator-fan-speed {
  &:before {
    content: $ic-radiator-fan-speed;
  }
}
.ic-ram-slot {
  &:before {
    content: $ic-ram-slot;
  }
}
.ic-ram-speed {
  &:before {
    content: $ic-ram-speed;
  }
}
.ic-socket {
  &:before {
    content: $ic-socket;
  }
}
.ic-support-mainboard {
  &:before {
    content: $ic-support-mainboard;
  }
}
.ic-tdp-cpu {
  &:before {
    content: $ic-tdp-cpu;
  }
}
.ic-unit-vga {
  &:before {
    content: $ic-unit-vga;
  }
}
.ic-vga-fan {
  &:before {
    content: $ic-vga-fan;
  }
}
.ic-face-mask {
  &:before {
    content: $ic-face-mask;
  }
}
.ic-beater-material {
  &:before {
    content: $ic-beater-material;
  }
}
.ic-cold {
  &:before {
    content: $ic-cold;
  }
}
.ic-dispenser-material {
  &:before {
    content: $ic-dispenser-material;
  }
}
.ic-egg-beater {
  &:before {
    content: $ic-egg-beater;
  }
}
.ic-heater {
  &:before {
    content: $ic-heater;
  }
}
.ic-heating-fan {
  &:before {
    content: $ic-heating-fan;
  }
}
.ic-heating-lamp {
  &:before {
    content: $ic-heating-lamp;
  }
}
.ic-insect-lamp {
  &:before {
    content: $ic-insect-lamp;
  }
}
.ic-insect-racket {
  &:before {
    content: $ic-insect-racket;
  }
}
.ic-juice-material {
  &:before {
    content: $ic-juice-material;
  }
}
.ic-meat-grinder {
  &:before {
    content: $ic-meat-grinder;
  }
}
.ic-microwave {
  &:before {
    content: $ic-microwave;
  }
}
.ic-orange-juicer {
  &:before {
    content: $ic-orange-juicer;
  }
}
.ic-speed {
  &:before {
    content: $ic-speed;
  }
}
.ic-water-dispenser {
  &:before {
    content: $ic-water-dispenser;
  }
}
.ic-electric-lunchbox {
  &:before {
    content: $ic-electric-lunchbox;
  }
}
.ic-case-pc-tower {
  &:before {
    content: $ic-case-pc-tower;
  }
}
.ic-gaming-chair {
  &:before {
    content: $ic-gaming-chair;
  }
}
.ic-gaming-mouse {
  &:before {
    content: $ic-gaming-mouse;
  }
}
.ic-hard-drive {
  &:before {
    content: $ic-hard-drive;
  }
}
.ic-mainboard {
  &:before {
    content: $ic-mainboard;
  }
}
.ic-odd {
  &:before {
    content: $ic-odd;
  }
}
.ic-psu {
  &:before {
    content: $ic-psu;
  }
}
.ic-radiator-fan {
  &:before {
    content: $ic-radiator-fan;
  }
}
.ic-electric-grill {
  &:before {
    content: $ic-electric-grill;
  }
}
.ic-control {
  &:before {
    content: $ic-control;
  }
}
.ic-hot {
  &:before {
    content: $ic-hot;
  }
}
.ic-oven-capacity {
  &:before {
    content: $ic-oven-capacity;
  }
}
.ic-oven {
  &:before {
    content: $ic-oven;
  }
}
.ic-home-appliances {
  &:before {
    content: $ic-home-appliances;
  }
}
.ic-flash-light {
  &:before {
    content: $ic-flash-light;
  }
}
.ic-milk-maker-size {
  &:before {
    content: $ic-milk-maker-size;
  }
}
.ic-milk-maker {
  &:before {
    content: $ic-milk-maker;
  }
}
.ic-promo {
  &:before {
    content: $ic-promo;
  }
}
.ic-cable-USB-A-RJ45 {
  &:before {
    content: $ic-cable-USB-A-RJ45;
  }
}
.ic-cable-USB-C-audio {
  &:before {
    content: $ic-cable-USB-C-audio;
  }
}
.ic-shockproof-bag {
  &:before {
    content: $ic-shockproof-bag;
  }
}
.ic-adapter-2 {
  &:before {
    content: $ic-adapter-2;
  }
}
.ic-inner-size {
  &:before {
    content: $ic-inner-size;
  }
}
.ic-pan {
  &:before {
    content: $ic-pan;
  }
}
.ic-pot {
  &:before {
    content: $ic-pot;
  }
}
.ic-wireless-keyboard {
  &:before {
    content: $ic-wireless-keyboard;
  }
}
.ic-wireless-mouse {
  &:before {
    content: $ic-wireless-mouse;
  }
}
.ic-360 {
  &:before {
    content: $ic-360;
  }
}
.ic-adapter {
  &:before {
    content: $ic-adapter;
  }
}
.ic-adjust-time {
  &:before {
    content: $ic-adjust-time;
  }
}
.ic-air-conditining-fan {
  &:before {
    content: $ic-air-conditining-fan;
  }
}
.ic-air-fryer {
  &:before {
    content: $ic-air-fryer;
  }
}
.ic-air-purifier {
  &:before {
    content: $ic-air-purifier;
  }
}
.ic-android {
  &:before {
    content: $ic-android;
  }
}
.ic-angle-down-double {
  &:before {
    content: $ic-angle-down-double;
  }
}
.ic-angle-down-thin {
  &:before {
    content: $ic-angle-down-thin;
  }
}
.ic-angle-down {
  &:before {
    content: $ic-angle-down;
  }
}
.ic-angle-left-double {
  &:before {
    content: $ic-angle-left-double;
  }
}
.ic-angle-left-thin {
  &:before {
    content: $ic-angle-left-thin;
  }
}
.ic-angle-left {
  &:before {
    content: $ic-angle-left;
  }
}
.ic-angle-right-double {
  &:before {
    content: $ic-angle-right-double;
  }
}
.ic-angle-right-thin {
  &:before {
    content: $ic-angle-right-thin;
  }
}
.ic-angle-right {
  &:before {
    content: $ic-angle-right;
  }
}
.ic-angle-up-double {
  &:before {
    content: $ic-angle-up-double;
  }
}
.ic-angle-up-thin {
  &:before {
    content: $ic-angle-up-thin;
  }
}
.ic-angle-up {
  &:before {
    content: $ic-angle-up;
  }
}
.ic-antutu {
  &:before {
    content: $ic-antutu;
  }
}
.ic-apple-airtag {
  &:before {
    content: $ic-apple-airtag;
  }
}
.ic-apple-business {
  &:before {
    content: $ic-apple-business;
  }
}
.ic-apple-cable {
  &:before {
    content: $ic-apple-cable;
  }
}
.ic-apple-cover {
  &:before {
    content: $ic-apple-cover;
  }
}
.ic-apple-imac {
  &:before {
    content: $ic-apple-imac;
  }
}
.ic-apple-ipad {
  &:before {
    content: $ic-apple-ipad;
  }
}
.ic-apple-iphone {
  &:before {
    content: $ic-apple-iphone;
  }
}
.ic-apple-keyboard {
  &:before {
    content: $ic-apple-keyboard;
  }
}
.ic-apple-macbook {
  &:before {
    content: $ic-apple-macbook;
  }
}
.ic-apple-mouse {
  &:before {
    content: $ic-apple-mouse;
  }
}
.ic-apple-pencil {
  &:before {
    content: $ic-apple-pencil;
  }
}
.ic-apple-power {
  &:before {
    content: $ic-apple-power;
  }
}
.ic-apple-tv {
  &:before {
    content: $ic-apple-tv;
  }
}
.ic-apple-watch-material {
  &:before {
    content: $ic-apple-watch-material;
  }
}
.ic-apple-watch-screen {
  &:before {
    content: $ic-apple-watch-screen;
  }
}
.ic-apple {
  &:before {
    content: $ic-apple;
  }
}
.ic-arrow-down-thin {
  &:before {
    content: $ic-arrow-down-thin;
  }
}
.ic-arrow-left-thin {
  &:before {
    content: $ic-arrow-left-thin;
  }
}
.ic-arrow-right-thin {
  &:before {
    content: $ic-arrow-right-thin;
  }
}
.ic-arrow-select {
  &:before {
    content: $ic-arrow-select;
  }
}
.ic-bag {
  &:before {
    content: $ic-bag;
  }
}
.ic-battery-charge {
  &:before {
    content: $ic-battery-charge;
  }
}
.ic-battery-full {
  &:before {
    content: $ic-battery-full;
  }
}
.ic-battery {
  &:before {
    content: $ic-battery;
  }
}
.ic-blades {
  &:before {
    content: $ic-blades;
  }
}
.ic-blender-mill {
  &:before {
    content: $ic-blender-mill;
  }
}
.ic-blender {
  &:before {
    content: $ic-blender;
  }
}
.ic-bluetooth {
  &:before {
    content: $ic-bluetooth;
  }
}
.ic-boiler-material {
  &:before {
    content: $ic-boiler-material;
  }
}
.ic-boiler-size {
  &:before {
    content: $ic-boiler-size;
  }
}
.ic-boiler {
  &:before {
    content: $ic-boiler;
  }
}
.ic-book {
  &:before {
    content: $ic-book;
  }
}
.ic-box {
  &:before {
    content: $ic-box;
  }
}
.ic-cable {
  &:before {
    content: $ic-cable;
  }
}
.ic-calendar {
  &:before {
    content: $ic-calendar;
  }
}
.ic-call {
  &:before {
    content: $ic-call;
  }
}
.ic-cam {
  &:before {
    content: $ic-cam;
  }
}
.ic-camera-security-2 {
  &:before {
    content: $ic-camera-security-2;
  }
}
.ic-camera-security {
  &:before {
    content: $ic-camera-security;
  }
}
.ic-camera {
  &:before {
    content: $ic-camera;
  }
}
.ic-card-1 {
  &:before {
    content: $ic-card-1;
  }
}
.ic-card {
  &:before {
    content: $ic-card;
  }
}
.ic-cart-refresh {
  &:before {
    content: $ic-cart-refresh;
  }
}
.ic-cart {
  &:before {
    content: $ic-cart;
  }
}
.ic-chat {
  &:before {
    content: $ic-chat;
  }
}
.ic-check {
  &:before {
    content: $ic-check;
  }
}
.ic-cheque {
  &:before {
    content: $ic-cheque;
  }
}
.ic-circle-lg {
  &:before {
    content: $ic-circle-lg;
  }
}
.ic-circle-md {
  &:before {
    content: $ic-circle-md;
  }
}
.ic-circle-sm {
  &:before {
    content: $ic-circle-sm;
  }
}
.ic-clock {
  &:before {
    content: $ic-clock;
  }
}
.ic-close-thin {
  &:before {
    content: $ic-close-thin;
  }
}
.ic-close {
  &:before {
    content: $ic-close;
  }
}
.ic-cog {
  &:before {
    content: $ic-cog;
  }
}
.ic-cogs {
  &:before {
    content: $ic-cogs;
  }
}
.ic-combined-shape {
  &:before {
    content: $ic-combined-shape;
  }
}
.ic-compatible-devices {
  &:before {
    content: $ic-compatible-devices;
  }
}
.ic-connect {
  &:before {
    content: $ic-connect;
  }
}
.ic-cooling-size {
  &:before {
    content: $ic-cooling-size;
  }
}
.ic-cover {
  &:before {
    content: $ic-cover;
  }
}
.ic-cpu {
  &:before {
    content: $ic-cpu;
  }
}
.ic-credit-card {
  &:before {
    content: $ic-credit-card;
  }
}
.ic-crown {
  &:before {
    content: $ic-crown;
  }
}
.ic-display {
  &:before {
    content: $ic-display;
  }
}
.ic-doc {
  &:before {
    content: $ic-doc;
  }
}
.ic-dot-horizontal {
  &:before {
    content: $ic-dot-horizontal;
  }
}
.ic-dot-vertical {
  &:before {
    content: $ic-dot-vertical;
  }
}
.ic-down-min {
  &:before {
    content: $ic-down-min;
  }
}
.ic-down {
  &:before {
    content: $ic-down;
  }
}
.ic-download {
  &:before {
    content: $ic-download;
  }
}
.ic-drive {
  &:before {
    content: $ic-drive;
  }
}
.ic-dust-capacity {
  &:before {
    content: $ic-dust-capacity;
  }
}
.ic-edit-o {
  &:before {
    content: $ic-edit-o;
  }
}
.ic-edit {
  &:before {
    content: $ic-edit;
  }
}
.ic-electric {
  &:before {
    content: $ic-electric;
  }
}
.ic-emo-happy {
  &:before {
    content: $ic-emo-happy;
  }
}
.ic-exclamation {
  &:before {
    content: $ic-exclamation;
  }
}
.ic-expand {
  &:before {
    content: $ic-expand;
  }
}
.ic-export {
  &:before {
    content: $ic-export;
  }
}
.ic-eye {
  &:before {
    content: $ic-eye;
  }
}
.ic-face {
  &:before {
    content: $ic-face;
  }
}
.ic-fado {
  &:before {
    content: $ic-fado;
  }
}
.ic-fan-diameter {
  &:before {
    content: $ic-fan-diameter;
  }
}
.ic-fan-wing {
  &:before {
    content: $ic-fan-wing;
  }
}
.ic-fan {
  &:before {
    content: $ic-fan;
  }
}
.ic-fast-shipping {
  &:before {
    content: $ic-fast-shipping;
  }
}
.ic-ffriend {
  &:before {
    content: $ic-ffriend;
  }
}
.ic-filter-ratio {
  &:before {
    content: $ic-filter-ratio;
  }
}
.ic-filter-technology {
  &:before {
    content: $ic-filter-technology;
  }
}
.ic-filter-wattage {
  &:before {
    content: $ic-filter-wattage;
  }
}
.ic-filter {
  &:before {
    content: $ic-filter;
  }
}
.ic-flash {
  &:before {
    content: $ic-flash;
  }
}
.ic-front-camera {
  &:before {
    content: $ic-front-camera;
  }
}
.ic-galaxy-buds-2 {
  &:before {
    content: $ic-galaxy-buds-2;
  }
}
.ic-galaxy-buds {
  &:before {
    content: $ic-galaxy-buds;
  }
}
.ic-galaxy-pen {
  &:before {
    content: $ic-galaxy-pen;
  }
}
.ic-galaxy-tab {
  &:before {
    content: $ic-galaxy-tab;
  }
}
.ic-galaxy-watch {
  &:before {
    content: $ic-galaxy-watch;
  }
}
.ic-game {
  &:before {
    content: $ic-game;
  }
}
.ic-gift {
  &:before {
    content: $ic-gift;
  }
}
.ic-glasses {
  &:before {
    content: $ic-glasses;
  }
}
.ic-guarantee-time {
  &:before {
    content: $ic-guarantee-time;
  }
}
.ic-guarantee {
  &:before {
    content: $ic-guarantee;
  }
}
.ic-hair-dryer {
  &:before {
    content: $ic-hair-dryer;
  }
}
.ic-hdd-black {
  &:before {
    content: $ic-hdd-black;
  }
}
.ic-hdd {
  &:before {
    content: $ic-hdd;
  }
}
.ic-headphone {
  &:before {
    content: $ic-headphone;
  }
}
.ic-heart-o {
  &:before {
    content: $ic-heart-o;
  }
}
.ic-heart {
  &:before {
    content: $ic-heart;
  }
}
.ic-heating-technology {
  &:before {
    content: $ic-heating-technology;
  }
}
.ic-help {
  &:before {
    content: $ic-help;
  }
}
.ic-home {
  &:before {
    content: $ic-home;
  }
}
.ic-hot-pot {
  &:before {
    content: $ic-hot-pot;
  }
}
.ic-hotsale {
  &:before {
    content: $ic-hotsale;
  }
}
.ic-hub {
  &:before {
    content: $ic-hub;
  }
}
.ic-humidity-2 {
  &:before {
    content: $ic-humidity-2;
  }
}
.ic-humidity {
  &:before {
    content: $ic-humidity;
  }
}
.ic-induction-cooker {
  &:before {
    content: $ic-induction-cooker;
  }
}
.ic-info {
  &:before {
    content: $ic-info;
  }
}
.ic-inner-boiler {
  &:before {
    content: $ic-inner-boiler;
  }
}
.ic-inner-pot-thickness {
  &:before {
    content: $ic-inner-pot-thickness;
  }
}
.ic-inner-pot {
  &:before {
    content: $ic-inner-pot;
  }
}
.ic-internet {
  &:before {
    content: $ic-internet;
  }
}
.ic-iron {
  &:before {
    content: $ic-iron;
  }
}
.ic-juicer-capacity {
  &:before {
    content: $ic-juicer-capacity;
  }
}
.ic-juicer {
  &:before {
    content: $ic-juicer;
  }
}
.ic-keyboard {
  &:before {
    content: $ic-keyboard;
  }
}
.ic-laptop-gaming {
  &:before {
    content: $ic-laptop-gaming;
  }
}
.ic-laptop {
  &:before {
    content: $ic-laptop;
  }
}
.ic-layout {
  &:before {
    content: $ic-layout;
  }
}
.ic-left {
  &:before {
    content: $ic-left;
  }
}
.ic-lightbulb {
  &:before {
    content: $ic-lightbulb;
  }
}
.ic-lightning {
  &:before {
    content: $ic-lightning;
  }
}
.ic-like {
  &:before {
    content: $ic-like;
  }
}
.ic-line-time {
  &:before {
    content: $ic-line-time;
  }
}
.ic-local-shipping {
  &:before {
    content: $ic-local-shipping;
  }
}
.ic-location {
  &:before {
    content: $ic-location;
  }
}
.ic-login {
  &:before {
    content: $ic-login;
  }
}
.ic-mac-mini {
  &:before {
    content: $ic-mac-mini;
  }
}
.ic-mac-pro {
  &:before {
    content: $ic-mac-pro;
  }
}
.ic-machine {
  &:before {
    content: $ic-machine;
  }
}
.ic-mail-o {
  &:before {
    content: $ic-mail-o;
  }
}
.ic-mail {
  &:before {
    content: $ic-mail;
  }
}
.ic-map-o {
  &:before {
    content: $ic-map-o;
  }
}
.ic-map {
  &:before {
    content: $ic-map;
  }
}
.ic-material-1 {
  &:before {
    content: $ic-material-1;
  }
}
.ic-material {
  &:before {
    content: $ic-material;
  }
}
.ic-megaphone {
  &:before {
    content: $ic-megaphone;
  }
}
.ic-menu {
  &:before {
    content: $ic-menu;
  }
}
.ic-mill-number {
  &:before {
    content: $ic-mill-number;
  }
}
.ic-minimize {
  &:before {
    content: $ic-minimize;
  }
}
.ic-minus {
  &:before {
    content: $ic-minus;
  }
}
.ic-mobile-phone {
  &:before {
    content: $ic-mobile-phone;
  }
}
.ic-mouse-pad {
  &:before {
    content: $ic-mouse-pad;
  }
}
.ic-mouse {
  &:before {
    content: $ic-mouse;
  }
}
.ic-movie {
  &:before {
    content: $ic-movie;
  }
}
.ic-new {
  &:before {
    content: $ic-new;
  }
}
.ic-noise {
  &:before {
    content: $ic-noise;
  }
}
.ic-origin {
  &:before {
    content: $ic-origin;
  }
}
.ic-pause {
  &:before {
    content: $ic-pause;
  }
}
.ic-pencil {
  &:before {
    content: $ic-pencil;
  }
}
.ic-phone {
  &:before {
    content: $ic-phone;
  }
}
.ic-phonecard {
  &:before {
    content: $ic-phonecard;
  }
}
.ic-photo {
  &:before {
    content: $ic-photo;
  }
}
.ic-picture {
  &:before {
    content: $ic-picture;
  }
}
.ic-play {
  &:before {
    content: $ic-play;
  }
}
.ic-plus {
  &:before {
    content: $ic-plus;
  }
}
.ic-pot-size {
  &:before {
    content: $ic-pot-size;
  }
}
.ic-power-1 {
  &:before {
    content: $ic-power-1;
  }
}
.ic-power-bank {
  &:before {
    content: $ic-power-bank;
  }
}
.ic-power-socket {
  &:before {
    content: $ic-power-socket;
  }
}
.ic-power-sockets {
  &:before {
    content: $ic-power-sockets;
  }
}
.ic-power {
  &:before {
    content: $ic-power;
  }
}
.ic-pressure-cooker {
  &:before {
    content: $ic-pressure-cooker;
  }
}
.ic-print-ink {
  &:before {
    content: $ic-print-ink;
  }
}
.ic-print-quality {
  &:before {
    content: $ic-print-quality;
  }
}
.ic-print-speed {
  &:before {
    content: $ic-print-speed;
  }
}
.ic-print {
  &:before {
    content: $ic-print;
  }
}
.ic-projector-2 {
  &:before {
    content: $ic-projector-2;
  }
}
.ic-projector {
  &:before {
    content: $ic-projector;
  }
}
.ic-quote {
  &:before {
    content: $ic-quote;
  }
}
.ic-ram {
  &:before {
    content: $ic-ram;
  }
}
.ic-reload {
  &:before {
    content: $ic-reload;
  }
}
.ic-renew {
  &:before {
    content: $ic-renew;
  }
}
.ic-replay {
  &:before {
    content: $ic-replay;
  }
}
.ic-reply-all {
  &:before {
    content: $ic-reply-all;
  }
}
.ic-reply {
  &:before {
    content: $ic-reply;
  }
}
.ic-rice-cooker {
  &:before {
    content: $ic-rice-cooker;
  }
}
.ic-rice-technology {
  &:before {
    content: $ic-rice-technology;
  }
}
.ic-right {
  &:before {
    content: $ic-right;
  }
}
.ic-room-size {
  &:before {
    content: $ic-room-size;
  }
}
.ic-router {
  &:before {
    content: $ic-router;
  }
}
.ic-save {
  &:before {
    content: $ic-save;
  }
}
.ic-scales {
  &:before {
    content: $ic-scales;
  }
}
.ic-screen-size {
  &:before {
    content: $ic-screen-size;
  }
}
.ic-screenprotect {
  &:before {
    content: $ic-screenprotect;
  }
}
.ic-sd-card {
  &:before {
    content: $ic-sd-card;
  }
}
.ic-search {
  &:before {
    content: $ic-search;
  }
}
.ic-secondhand {
  &:before {
    content: $ic-secondhand;
  }
}
.ic-security-camera {
  &:before {
    content: $ic-security-camera;
  }
}
.ic-selfie {
  &:before {
    content: $ic-selfie;
  }
}
.ic-send {
  &:before {
    content: $ic-send;
  }
}
.ic-shave-2 {
  &:before {
    content: $ic-shave-2;
  }
}
.ic-shave {
  &:before {
    content: $ic-shave;
  }
}
.ic-sim {
  &:before {
    content: $ic-sim;
  }
}
.ic-smart-fan-2 {
  &:before {
    content: $ic-smart-fan-2;
  }
}
.ic-smart-fan {
  &:before {
    content: $ic-smart-fan;
  }
}
.ic-software {
  &:before {
    content: $ic-software;
  }
}
.ic-speaker {
  &:before {
    content: $ic-speaker;
  }
}
.ic-spin {
  &:before {
    content: $ic-spin;
  }
}
.ic-star-half-o {
  &:before {
    content: $ic-star-half-o;
  }
}
.ic-star-half {
  &:before {
    content: $ic-star-half;
  }
}
.ic-star-o {
  &:before {
    content: $ic-star-o;
  }
}
.ic-star {
  &:before {
    content: $ic-star;
  }
}
.ic-steam-iron {
  &:before {
    content: $ic-steam-iron;
  }
}
.ic-tablet {
  &:before {
    content: $ic-tablet;
  }
}
.ic-tag {
  &:before {
    content: $ic-tag;
  }
}
.ic-target-location {
  &:before {
    content: $ic-target-location;
  }
}
.ic-th-list {
  &:before {
    content: $ic-th-list;
  }
}
.ic-th {
  &:before {
    content: $ic-th;
  }
}
.ic-thermal-pot {
  &:before {
    content: $ic-thermal-pot;
  }
}
.ic-thermometer {
  &:before {
    content: $ic-thermometer;
  }
}
.ic-time {
  &:before {
    content: $ic-time;
  }
}
.ic-toothbrush {
  &:before {
    content: $ic-toothbrush;
  }
}
.ic-trash-o {
  &:before {
    content: $ic-trash-o;
  }
}
.ic-trash {
  &:before {
    content: $ic-trash;
  }
}
.ic-trending {
  &:before {
    content: $ic-trending;
  }
}
.ic-trophy {
  &:before {
    content: $ic-trophy;
  }
}
.ic-tryon {
  &:before {
    content: $ic-tryon;
  }
}
.ic-tv {
  &:before {
    content: $ic-tv;
  }
}
.ic-TypeDefaulticon {
  &:before {
    content: $ic-TypeDefaulticon;
  }
}
.ic-up {
  &:before {
    content: $ic-up;
  }
}
.ic-upload {
  &:before {
    content: $ic-upload;
  }
}
.ic-user {
  &:before {
    content: $ic-user;
  }
}
.ic-users {
  &:before {
    content: $ic-users;
  }
}
.ic-vacuum-2 {
  &:before {
    content: $ic-vacuum-2;
  }
}
.ic-vacuum-filter {
  &:before {
    content: $ic-vacuum-filter;
  }
}
.ic-vacuum {
  &:before {
    content: $ic-vacuum;
  }
}
.ic-valve {
  &:before {
    content: $ic-valve;
  }
}
.ic-vga {
  &:before {
    content: $ic-vga;
  }
}
.ic-video {
  &:before {
    content: $ic-video;
  }
}
.ic-voltage {
  &:before {
    content: $ic-voltage;
  }
}
.ic-watch-automatic {
  &:before {
    content: $ic-watch-automatic;
  }
}
.ic-watch-material {
  &:before {
    content: $ic-watch-material;
  }
}
.ic-watch-screen {
  &:before {
    content: $ic-watch-screen;
  }
}
.ic-watch {
  &:before {
    content: $ic-watch;
  }
}
.ic-water-bin {
  &:before {
    content: $ic-water-bin;
  }
}
.ic-water-filter {
  &:before {
    content: $ic-water-filter;
  }
}
.ic-water-purifier {
  &:before {
    content: $ic-water-purifier;
  }
}
.ic-water-resistant-2 {
  &:before {
    content: $ic-water-resistant-2;
  }
}
.ic-water-resistant {
  &:before {
    content: $ic-water-resistant;
  }
}
.ic-water {
  &:before {
    content: $ic-water;
  }
}
.ic-wattage-2 {
  &:before {
    content: $ic-wattage-2;
  }
}
.ic-wattage {
  &:before {
    content: $ic-wattage;
  }
}
.ic-we {
  &:before {
    content: $ic-we;
  }
}
.ic-weight {
  &:before {
    content: $ic-weight;
  }
}
.ic-wind {
  &:before {
    content: $ic-wind;
  }
}
.ic-windows {
  &:before {
    content: $ic-windows;
  }
}
.ic-youtube-1 {
  &:before {
    content: $ic-youtube-1;
  }
}
.ic-youtube {
  &:before {
    content: $ic-youtube;
  }
}
.ic-zoom-in {
  &:before {
    content: $ic-zoom-in;
  }
}
.ic-zoom-out {
  &:before {
    content: $ic-zoom-out;
  }
}
.ic-adapter-3{
  content: $ic-adapter-3;
}
.ic-apple-cable:before {
  content: $ic-apple-cable;
}
.ic-sim-eject:before {
  content: $ic-sim-eject;
}
.ic-tablet-pen:before {
  content: $ic-tablet-pen;
}
.ic-power-sockets:before {
  content: $ic-power-sockets;
}

@each $item in list {
  
}