$font-icon-family: 'icon' !default;
$font-icon-path: 'Icon' !default;

$ic-connect-speaker: '\eab6';
$ic-coverage: '\eab7';
$ic-dpi: '\eab8';
$ic-electric-toothbrush: '\eab9';
$ic-fast-charging: '\eaba';
$ic-feature: '\eabb';
$ic-hdd-driver: '\eabc';
$ic-ink-color: '\eabd';
$ic-memory-storage: '\eabe';
$ic-page-max: '\eabf';
$ic-power-2: '\eac0';
$ic-responsive: '\eac1';
$ic-router-users: '\eac2';
$ic-specifications: '\eac3';
$ic-speed-memory: '\eac4';
$ic-usb: '\eac5';
$ic-usb-capacity: '\eac6';
$ic-wireless-router: '\eac7';
$ic-adapter-3: '\eac8';
$ic-bmi: '\eac9';
$ic-connect-headphones: '\eaca';
$ic-connector: '\eacb';
$ic-4k: '\eab5';
$ic-camera-noise: '\eaa2';
$ic-charger-pd: '\eaa3';
$ic-chromecast: '\eaa4';
$ic-frequency: '\eaa5';
$ic-gan-technology: '\eaa6';
$ic-index: '\eaa7';
$ic-measure-heartbeat: '\eaa8';
$ic-micro: '\eaa9';
$ic-ohm: '\eaaa';
$ic-private-data: '\eaab';
$ic-resolution: '\eaac';
$ic-usb-a: '\eaad';
$ic-usb-charger: '\eaae';
$ic-usb-ethernet: '\eaaf';
$ic-virtual: '\eab0';
$ic-wireless-charging: '\eab1';
$ic-antenna: '\eab2';
$ic-battery-core: '\eab3';
$ic-earbuds: '\eab4';
$ic-cleaner: '\ea84';
$ic-connects: '\ea85';
$ic-connet-phone: '\ea86';
$ic-earphone: '\ea87';
$ic-fan-night: '\ea88';
$ic-hair-care: '\ea89';
$ic-hot-cool: '\ea8a';
$ic-infrared-sensor: '\ea8b';
$ic-inox: '\ea8c';
$ic-insulation: '\ea8d';
$ic-length: '\ea8e';
$ic-light: '\ea8f';
$ic-magnet: '\ea90';
$ic-motion-sensor: '\ea91';
$ic-sensor: '\ea92';
$ic-size: '\ea93';
$ic-speakers: '\ea94';
$ic-spO2: '\ea95';
$ic-technology: '\ea96';
$ic-turn: '\ea97';
$ic-vaccum-cleaner: '\ea98';
$ic-voice: '\ea99';
$ic-water-proof: '\ea9a';
$ic-water-proof-1: '\ea9b';
$ic-acreage: '\ea9c';
$ic-angle-light: '\ea9d';
$ic-anti-noise: '\ea9e';
$ic-app: '\ea9f';
$ic-brush-sensor: '\eaa0';
$ic-calling: '\eaa1';
$ic-samsung-fold: '\ea76';
$ic-samsung-headphone: '\ea77';
$ic-samsung-phone: '\ea78';
$ic-samsung-tablet: '\ea79';
$ic-samsung-watch: '\ea7a';
$ic-stationary-bike: '\ea7b';
$ic-treadmill: '\ea7c';
$ic-consume-gas: '\ea7d';
$ic-gas-stove: '\ea7e';
$ic-lighter-system: '\ea7f';
$ic-number-gas: '\ea80';
$ic-samsung-cable: '\ea81';
$ic-samsung-combined: '\ea82';
$ic-samsung-cover: '\ea83';
$ic-hood: '\ea71';
$ic-number-dishwasher: '\ea72';
$ic-dehumidifiers: '\ea73';
$ic-digital-door: '\ea74';
$ic-dishwasher: '\ea75';
$ic-key-FPT: '\ea70';
$ic-massage-regime: '\ea6c';
$ic-massage-bag: '\ea6d';
$ic-massage-chair: '\ea6e';
$ic-anti-virus: '\ea6f';
$ic-bus: '\ea60';
$ic-card-online: '\ea61';
$ic-cart-2: '\ea62';
$ic-cash: '\ea63';
$ic-data: '\ea64';
$ic-film: '\ea65';
$ic-insuran-accident: '\ea66';
$ic-insuran-car: '\ea67';
$ic-insuran-health: '\ea68';
$ic-insuran-money: '\ea69';
$ic-insuran-moto: '\ea6a';
$ic-airport: '\ea6b';
$ic-list: '\ea5f';
$ic-machine-massage: '\ea5e';
$ic-clothes-dryer: '\ea5b';
$ic-coffee-grinder: '\ea5c';
$ic-coffee-machine: '\ea5d';
$ic-pc-tower: '\ea5a';
$ic-capacity: '\ea46';
$ic-case-pc-size: '\ea47';
$ic-chipset: '\ea48';
$ic-connection: '\ea49';
$ic-cpu-cores: '\ea4a';
$ic-cpu-thread: '\ea4b';
$ic-hard-drive-speed: '\ea4c';
$ic-input-source: '\ea4d';
$ic-mainboard-size: '\ea4e';
$ic-memory-interface: '\ea4f';
$ic-performance: '\ea50';
$ic-radiator-fan-size: '\ea51';
$ic-radiator-fan-speed: '\ea52';
$ic-ram-slot: '\ea53';
$ic-ram-speed: '\ea54';
$ic-socket: '\ea55';
$ic-support-mainboard: '\ea56';
$ic-tdp-cpu: '\ea57';
$ic-unit-vga: '\ea58';
$ic-vga-fan: '\ea59';
$ic-face-mask: '\ea3d';
$ic-beater-material: '\ea36';
$ic-cold: '\ea37';
$ic-dispenser-material: '\ea38';
$ic-egg-beater: '\ea39';
$ic-heater: '\ea3a';
$ic-heating-fan: '\ea3b';
$ic-heating-lamp: '\ea3c';
$ic-insect-lamp: '\ea3e';
$ic-insect-racket: '\ea3f';
$ic-juice-material: '\ea40';
$ic-meat-grinder: '\ea41';
$ic-microwave: '\ea42';
$ic-orange-juicer: '\ea43';
$ic-speed: '\ea44';
$ic-water-dispenser: '\ea45';
$ic-electric-lunchbox: '\ea35';
$ic-case-pc-tower: '\ea2d';
$ic-gaming-chair: '\ea2e';
$ic-gaming-mouse: '\ea2f';
$ic-hard-drive: '\ea30';
$ic-mainboard: '\ea31';
$ic-odd: '\ea32';
$ic-psu: '\ea33';
$ic-radiator-fan: '\ea34';
$ic-electric-grill: '\ea2c';
$ic-control: '\ea28';
$ic-hot: '\ea29';
$ic-oven-capacity: '\ea2a';
$ic-oven: '\ea2b';
$ic-home-appliances: '\ea1f';
$ic-flash-light: '\ea25';
$ic-milk-maker-size: '\ea26';
$ic-milk-maker: '\ea27';
$ic-promo: '\e9c8';
$ic-cable-USB-A-RJ45: '\ea22';
$ic-cable-USB-C-audio: '\ea23';
$ic-shockproof-bag: '\ea24';
$ic-adapter-2: '\ea1b';
$ic-inner-size: '\ea1c';
$ic-pan: '\ea1d';
$ic-pot: '\ea1e';
$ic-wireless-keyboard: '\ea20';
$ic-wireless-mouse: '\ea21';
$ic-360: '\e900';
$ic-adapter: '\e901';
$ic-adjust-time: '\e902';
$ic-air-conditining-fan: '\e903';
$ic-air-fryer: '\e904';
$ic-air-purifier: '\e905';
$ic-android: '\e906';
$ic-angle-down-double: '\e907';
$ic-angle-down-thin: '\e908';
$ic-angle-down: '\e909';
$ic-angle-left-double: '\e90a';
$ic-angle-left-thin: '\e90b';
$ic-angle-left: '\e90c';
$ic-angle-right-double: '\e90d';
$ic-angle-right-thin: '\e90e';
$ic-angle-right: '\e90f';
$ic-angle-up-double: '\e910';
$ic-angle-up-thin: '\e911';
$ic-angle-up: '\e912';
$ic-antutu: '\e913';
$ic-apple-airtag: '\e914';
$ic-apple-business: '\e915';
$ic-apple-cable: '\e916';
$ic-apple-cover: '\e917';
$ic-apple-imac: '\e918';
$ic-apple-ipad: '\e919';
$ic-apple-iphone: '\e91a';
$ic-apple-keyboard: '\e91b';
$ic-apple-macbook: '\e91c';
$ic-apple-mouse: '\e91d';
$ic-apple-pencil: '\e91e';
$ic-apple-power: '\e91f';
$ic-apple-tv: '\e920';
$ic-apple-watch-material: '\e921';
$ic-apple-watch-screen: '\e922';
$ic-apple: '\e923';
$ic-arrow-down-thin: '\e924';
$ic-arrow-left-thin: '\e925';
$ic-arrow-right-thin: '\e926';
$ic-arrow-select: '\e927';
$ic-bag: '\e928';
$ic-battery-charge: '\e929';
$ic-battery-full: '\e92a';
$ic-battery: '\e92b';
$ic-blades: '\e92c';
$ic-blender-mill: '\e92d';
$ic-blender: '\e92e';
$ic-bluetooth: '\e92f';
$ic-boiler-material: '\e930';
$ic-boiler-size: '\e931';
$ic-boiler: '\e932';
$ic-book: '\e933';
$ic-box: '\e934';
$ic-cable: '\e935';
$ic-calendar: '\e936';
$ic-call: '\e937';
$ic-cam: '\e938';
$ic-camera-security-2: '\e939';
$ic-camera-security: '\e93a';
$ic-camera: '\e93b';
$ic-card-1: '\e93c';
$ic-card: '\e93d';
$ic-cart-refresh: '\e93e';
$ic-cart: '\e93f';
$ic-chat: '\e940';
$ic-check: '\e941';
$ic-cheque: '\e942';
$ic-circle-lg: '\e943';
$ic-circle-md: '\e944';
$ic-circle-sm: '\e945';
$ic-clock: '\e946';
$ic-close-thin: '\e947';
$ic-close: '\e948';
$ic-cog: '\e949';
$ic-cogs: '\e94a';
$ic-combined-shape: '\e94b';
$ic-compatible-devices: '\e94c';
$ic-connect: '\e94d';
$ic-cooling-size: '\e94e';
$ic-cover: '\e94f';
$ic-cpu: '\e950';
$ic-credit-card: '\e951';
$ic-crown: '\e952';
$ic-display: '\e953';
$ic-doc: '\e954';
$ic-dot-horizontal: '\e955';
$ic-dot-vertical: '\e956';
$ic-down-min: '\e957';
$ic-down: '\e958';
$ic-download: '\e959';
$ic-drive: '\e95a';
$ic-dust-capacity: '\e95b';
$ic-edit-o: '\e95c';
$ic-edit: '\e95d';
$ic-electric: '\e95e';
$ic-emo-happy: '\e95f';
$ic-exclamation: '\e960';
$ic-expand: '\e961';
$ic-export: '\e962';
$ic-eye: '\e963';
$ic-face: '\e964';
$ic-fado: '\e965';
$ic-fan-diameter: '\e966';
$ic-fan-wing: '\e967';
$ic-fan: '\e968';
$ic-fast-shipping: '\e969';
$ic-ffriend: '\e96a';
$ic-filter-ratio: '\e96b';
$ic-filter-technology: '\e96c';
$ic-filter-wattage: '\e96d';
$ic-filter: '\e96e';
$ic-flash: '\e96f';
$ic-front-camera: '\e970';
$ic-galaxy-buds-2: '\e971';
$ic-galaxy-buds: '\e972';
$ic-galaxy-pen: '\e973';
$ic-galaxy-tab: '\e974';
$ic-galaxy-watch: '\e975';
$ic-game: '\e976';
$ic-gift: '\e977';
$ic-glasses: '\e978';
$ic-guarantee-time: '\e979';
$ic-guarantee: '\e97a';
$ic-hair-dryer: '\e97b';
$ic-hdd-black: '\e97c';
$ic-hdd: '\e97d';
$ic-headphone: '\e97e';
$ic-heart-o: '\e97f';
$ic-heart: '\e980';
$ic-heating-technology: '\e981';
$ic-help: '\e982';
$ic-home: '\e983';
$ic-hot-pot: '\e984';
$ic-hotsale: '\e985';
$ic-hub: '\e986';
$ic-humidity-2: '\e987';
$ic-humidity: '\e988';
$ic-induction-cooker: '\e989';
$ic-info: '\e98a';
$ic-inner-boiler: '\e98b';
$ic-inner-pot-thickness: '\e98c';
$ic-inner-pot: '\e98d';
$ic-internet: '\e98e';
$ic-iron: '\e98f';
$ic-juicer-capacity: '\e990';
$ic-juicer: '\e991';
$ic-keyboard: '\e992';
$ic-laptop-gaming: '\e993';
$ic-laptop: '\e994';
$ic-layout: '\e995';
$ic-left: '\e996';
$ic-lightbulb: '\e997';
$ic-lightning: '\e998';
$ic-like: '\e999';
$ic-line-time: '\e99a';
$ic-local-shipping: '\e99b';
$ic-location: '\e99c';
$ic-login: '\e99d';
$ic-mac-mini: '\e99e';
$ic-mac-pro: '\e99f';
$ic-machine: '\e9a0';
$ic-mail-o: '\e9a1';
$ic-mail: '\e9a2';
$ic-map-o: '\e9a3';
$ic-map: '\e9a4';
$ic-material-1: '\e9a5';
$ic-material: '\e9a6';
$ic-megaphone: '\e9a7';
$ic-menu: '\e9a8';
$ic-mill-number: '\e9a9';
$ic-minimize: '\e9aa';
$ic-minus: '\e9ab';
$ic-mobile-phone: '\e9ac';
$ic-mouse-pad: '\e9ad';
$ic-mouse: '\e9ae';
$ic-movie: '\e9af';
$ic-new: '\e9b0';
$ic-noise: '\e9b1';
$ic-origin: '\e9b2';
$ic-pause: '\e9b3';
$ic-pencil: '\e9b4';
$ic-phone: '\e9b5';
$ic-phonecard: '\e9b6';
$ic-photo: '\e9b7';
$ic-picture: '\e9b8';
$ic-play: '\e9b9';
$ic-plus: '\e9ba';
$ic-pot-size: '\e9bb';
$ic-power-1: '\e9bc';
$ic-power-bank: '\e9bd';
$ic-power-socket: '\e9be';
$ic-power-sockets: '\e9bf';
$ic-power: '\e9c0';
$ic-pressure-cooker: '\e9c1';
$ic-print-ink: '\e9c2';
$ic-print-quality: '\e9c3';
$ic-print-speed: '\e9c4';
$ic-print: '\e9c5';
$ic-projector-2: '\e9c6';
$ic-projector: '\e9c7';
$ic-quote: '\e9c9';
$ic-ram: '\e9ca';
$ic-reload: '\e9cb';
$ic-renew: '\e9cc';
$ic-replay: '\e9cd';
$ic-reply-all: '\e9ce';
$ic-reply: '\e9cf';
$ic-rice-cooker: '\e9d0';
$ic-rice-technology: '\e9d1';
$ic-right: '\e9d2';
$ic-room-size: '\e9d3';
$ic-router: '\e9d4';
$ic-save: '\e9d5';
$ic-scales: '\e9d6';
$ic-screen-size: '\e9d7';
$ic-screenprotect: '\e9d8';
$ic-sd-card: '\e9d9';
$ic-search: '\e9da';
$ic-secondhand: '\e9db';
$ic-security-camera: '\e9dc';
$ic-selfie: '\e9dd';
$ic-send: '\e9de';
$ic-shave-2: '\e9df';
$ic-shave: '\e9e0';
$ic-sim: '\e9e1';
$ic-smart-fan-2: '\e9e2';
$ic-smart-fan: '\e9e3';
$ic-software: '\e9e4';
$ic-speaker: '\e9e5';
$ic-spin: '\e9e6';
$ic-star-half-o: '\e9e7';
$ic-star-half: '\e9e8';
$ic-star-o: '\e9e9';
$ic-star: '\e9ea';
$ic-steam-iron: '\e9eb';
$ic-tablet: '\e9ec';
$ic-tag: '\e9ed';
$ic-target-location: '\e9ee';
$ic-th-list: '\e9ef';
$ic-th: '\e9f0';
$ic-thermal-pot: '\e9f1';
$ic-thermometer: '\e9f2';
$ic-time: '\e9f3';
$ic-toothbrush: '\e9f4';
$ic-trash-o: '\e9f5';
$ic-trash: '\e9f6';
$ic-trending: '\e9f7';
$ic-trophy: '\e9f8';
$ic-tryon: '\e9f9';
$ic-tv: '\e9fa';
$ic-TypeDefaulticon: '\e9fb';
$ic-up: '\e9fc';
$ic-upload: '\e9fd';
$ic-user: '\e9fe';
$ic-users: '\e9ff';
$ic-vacuum-2: '\ea00';
$ic-vacuum-filter: '\ea01';
$ic-vacuum: '\ea02';
$ic-valve: '\ea03';
$ic-vga: '\ea04';
$ic-video: '\ea05';
$ic-voltage: '\ea06';
$ic-watch-automatic: '\ea07';
$ic-watch-material: '\ea08';
$ic-watch-screen: '\ea09';
$ic-watch: '\ea0a';
$ic-water-bin: '\ea0b';
$ic-water-filter: '\ea0c';
$ic-water-purifier: '\ea0d';
$ic-water-resistant-2: '\ea0e';
$ic-water-resistant: '\ea0f';
$ic-water: '\ea10';
$ic-wattage-2: '\ea11';
$ic-wattage: '\ea12';
$ic-we: '\ea13';
$ic-weight: '\ea14';
$ic-wind: '\ea15';
$ic-windows: '\ea16';
$ic-youtube-1: '\ea17';
$ic-youtube: '\ea18';
$ic-zoom-in: '\ea19';
$ic-zoom-out: '\ea1a';

$ic-adapter-3:'\eacd';
$ic-apple-cable:'\eacc';
$ic-sim-eject: '\eace';
$ic-tablet-pen: '\eacf';
$ic-power-sockets: '\ead1';

$fa-font-path: '../webfonts' !default;
$fa-font-size-base: 16px !default;
$fa-font-display: block !default;
$ic-css-prefix: ic !default;
$fa-version: '5.15.3' !default;
$ic-border-color: $grayscale !default;
$fa-inverse: #fff !default;
$fa-li-width: 2em !default;
$fa-fw-width: (20em / 16);
$fa-primary-opacity: 1 !default;
$fa-secondary-opacity: 0.4 !default;

