.accordion {
   $this: &;
   &-tab {
      display: flex;
      margin-bottom: 16px;
      &.open {
         #{$this}-content-description {
            transform: scaleY(1);
            max-height: 500px;
            transform: translate3d(0, 0, 0);
            opacity: 1;
            visibility: visible;
         }
         #{$this}-action-icon {
            transform: rotate(180deg);
         }
      }
   }
   &-title {
      padding: $spacing * 4;
      box-shadow: inset 0px -1px 0px $grayscale-200;
      [class*="ic-"] {
         background: $grayscale;
      }
   }
   &-action {
      &-icon {
         cursor: pointer;
         width: 24px;
         height: 24px;
         @include flexCenter(inline-flex);
         transition-duration: $transition-duration-sm;
         transition-timing-function: $timing-ease-end;
         color: $grayscale;
      }
   }
   &-content {
      &-description {
         margin-top: 4px;
         transition-duration: $transition-duration-sm;
         transition-timing-function: $timing-ease-end;
         transform: scaleY(0);
         max-height: 0px;
         transform: translate3d(0, -20%, 0);
         opacity: 0;
         visibility: hidden;
      }
   }
   // modified
   &-card {
      @extend .d-s-200;
      border-radius: $border-radius-md;
      #{$this}-content {
         flex: 1;
         align-self: center;
         &-description {
            margin-top: 0;
            color: $grayscale-700;
         }
      }
      #{$this}-action {
         position: absolute;
         top: 12px;
         right: 16px;
         .btn {
            &:hover {
               color: $white;
            }
            &.open {
               i:before {
                  content: "\e9ab";
               }
            }
         }
      }
      #{$this}-tab {
         position: relative;
         margin-bottom: 0;
         padding: 16px 64px 16px 16px;
         &:not(:last-child) {
            box-shadow: inset 0px -1px 0px $grayscale-200;
         }
         &.open {
            background: $grayscale-100;
            #{$this}-content-description {
               margin-top: $spacing * 2;
            }
         }
      }
   }
   &-mobile {
      #{$this}-action {
         top: 8px;
         right: 8px;
         &-icon {
            width: 20px;
            height: 20px;
         }
      }
      &#{$this}-card {
         #{$this}-title {
            padding: 8px;
            transition-duration: $transition-duration-sm;
            transition-timing-function: $timing-ease-end;
         }
         #{$this}-content {
            &-description {
               transition-duration: $transition-duration-sm;
               transition-timing-function: $timing-ease-end;
            }
         }
         #{$this}-tab {
            padding: 8px;
            #{$this}-content {
               &-title {
                  padding-right: 36px;
               }
            }
         }
      }
      #{$this}-tab {
         align-items: end;
      }
   }
}
