.modal {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: $black-70;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  $this: &;
  &-wrapper {
    outline: none;
    width: 100%;
    margin: 100px auto;
    @include responsive(mdm) {
      margin: $sp6 auto;
    }
  }
  &-box {
    background: $white;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: 4px;
    position: relative;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px $grayscale-200;
    .label {
      display: flex;
      flex: 1;
      margin-right: 16px;
      .icon-circle {
        background: $grayscale;
      }
    }
  }
  &-close {
    cursor: pointer;
    outline: none;
    color: $grayscale;
    @include flexCenter(inline-flex);
    &:hover {
      color: $grayscale-600;
    }
    .icon {
      display: block;
    }
  }
  &-body {
    color: $grayscale-700;
  }
  &-shape {
    @include flexCenter(inline-flex);
    [class*='ic'] {
      width: 100%;
      height: 100%;
    }
  }
  &-footer {
    display: flex;
    justify-content: center;
    .link {
      align-self: center;
    }
  }
  &.open,
  &.modal--is-visible {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
  }
  &-prevent-scroll {
    overflow: hidden;
  }
  // size
  &-lg {
    #{$this}-wrapper {
      width: 776px;
    }
  }
  &-md {
    #{$this}-wrapper {
      width: 576px;
    }
  }
  &-lg,
  &-md {
    #{$this}-header {
      padding: 10px 24px;
      &#{$this}-no-title {
        box-shadow: none;
        justify-content: flex-end;
        padding: 18px 24px 0;
        margin-bottom: -8px;
      }
    }
    #{$this}-body {
      padding: 16px 24px;
    }
    #{$this}-shape {
      width: 72px;
      height: 72px;
      font-size: 45px;
    }
    #{$this}-footer {
      padding: 0 16px 16px;
    }
  }
  &-sm {
    #{$this}-wrapper {
      width: 344px;
    }
    #{$this}-header {
      padding: 8px 16px;
      .icon-circle {
        width: 24px;
        height: 24px;
        font-size: 15px;
        margin-right: 8px;
      }
      &#{$this}-no-title {
        box-shadow: none;
        justify-content: flex-end;
        padding: 12px 16px 0;
        margin-bottom: -12px;
      }
    }
    #{$this}-body {
      padding: 16px;
    }
    #{$this}-shape {
      width: 64px;
      height: 64px;
      font-size: 40px;
    }
    #{$this}-footer {
      padding: 0 16px 16px;
    }
  }
  @include responsive(mdm) {
    &-lg {
      #{$this}-wrapper {
        max-width: calc(100% - 20px);
      }
    }
  }
  @include responsive(sm) {
    &-md {
      #{$this}-wrapper {
        max-width: calc(100% - 20px);
      }
    }
  }
  @include responsive(xs) {
    &-sm {
      #{$this}-wrapper {
        max-width: calc(100% - 20px);
      }
    }
  }
  // status
}

// ANIMATION
.modal[data-animation='on'] {
  transition: all $transition-duration-sm $timing-linear 0.2s;
  .modal-wrapper {
    transition: all $transition-duration-sm $timing-linear 0s;
    transform: translate3d(0, 100px, 0);
    opacity: 0;
    visibility: hidden;
  }

  &.open {
    transition-delay: 0s;
    // will-change: transform;
    transition: transform $transition-duration-sm $timing-ease-start;
    transform: translate3d(0, 0, 0);
  }
  &.open .modal-wrapper,
  &.modal--is-visible .modal-wrapper {
    transition-delay: 0.3s;
    transform: translate3d(0, 0, 0);
    transition: transform $transition-duration-sm $timing-ease-end;
    opacity: 1;
    visibility: visible;
  }
}
