.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	$this: &;
	&-item {
		&:last-child {
			margin-right: 0;
		}
		&:first-child {
			margin-left: 0;
		}
		// state
		&.active {
			#{$this}-link {
				background: $primary;
				color: $white;
				border-color: $primary;
			}
		}
		&.disabled,
		&:disabled {
			cursor: no-drop;
			#{$this}-link {
				color: $grayscale-400;
				cursor: no-drop;
				pointer-events: none;
			}
		}
	}
	&-link {
		width: 40px;
		height: 40px;
		@extend .f-s-p-14;
		@extend .f-w-500;
		@include flexCenter(inline-flex);
		color: $grayscale-700;
		background: $white;
		border-radius: $border-radius;
		border: $border-default;
		transition: all $transition-duration-sm $timing-ease-end;
		&:hover {
			background: $primary;
			color: $white;
			border-color: $primary;
		}
		&:active {
			box-shadow: 0 0 0 0.1rem $primary-400;
			color: $white;
		}
		&:focus {
			border-color: $primary;
			background: $primary-600;
			color: $white;
			outline: none;
		}
	}
	// Style
	&-default {
		#{$this}-item {
			#{$this}-link {
				border-radius: 0;
			}
			&:not(:first-child):not(:last-child) {
				color: $primary;
				#{$this}-link {
					border-right: none;
					border-left: none;
					box-shadow: inset -1px 0px 0px $grayscale-200;
				}
			}
			&:first-child {
				#{$this}-link {
					border-right: none;
					border-top-left-radius: $border-radius;
					border-bottom-left-radius: $border-radius;
					box-shadow: inset -1px 0px 0px $grayscale-200;
				}
			}
			&:last-child {
				#{$this}-link {
					border-left: none;
					border-top-right-radius: $border-radius;
					border-bottom-right-radius: $border-radius;
				}
			}
		}
		#{$this}-link {
			&:active {
				background: $primary-600;
				box-shadow: none;
			}
		}
	}
	&-space {
		#{$this}-item {
			margin: 0 $spacing;
		}
	}
	&-empty {
		#{$this}-link {
			border-color: transparent;
			&:active {
				background: $primary-600;
				box-shadow: none;
			}
		}
	}

	// mobile style
	&-mobile {
		#{$this}-link {
			width: 32px;
			height: 32px;
		}
		&#{$this}-space {
			width: 32px;
			height: 32px;
			#{$this}-item {
				margin: 0 $spacing/2;
			}
		}
	}
}
