.product {
  $this: &;
  & {
    display: block;
    padding: 12px;
    position: relative;
    z-index: 2;
  }
  &--absolute {
    padding: 12px;
    &:before {
      width: 100%;
      height: calc(100% + 36px - 4px + 10px);
    }
    #{$this}__btn {
      position: absolute;
      left: 0;
      top: calc(100% - 4px);
      right: 0;
      width: calc(100% - 24px);
      margin: 0 auto;
    }
  }
  &--comingSoon {
    &:before {
      height: 100%;
    }
  }
  &--pk {
    &:before {
      height: calc(100% + 45px);
    }
  }
  &__img {
    padding: 0 30px;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    height: 210px;
    img {
      transition: all 0.3s ease;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    span {
      // font-size: 13px;
      // padding: 0 8px;
      // line-height: 24px;
      // border-radius: 6px;
      margin-top: 4px;
      align-self: baseline;
    }
    .badge-primary:hover {
      color: #fff;
      background: #cb1c22;
    }
    .badge-warning:hover {
      color: #fff;
      background: #efb140;
    }
  }
  &__info {
    position: relative;
    h3,
    h4,
    h5 {
      margin-bottom: 0;
    }
  }
  &__name {
    font-size: 18px;
    line-height: 24px;
    color: $grayscale-800;
    @include text-shorten(2);
    word-break: break-word;
    &:hover {
      color: $link;
    }
    &:focus,
    &:active {
      color: #474c51;
    }
  }
  &__timing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      flex-basis: 136px;
    }
    &__right {
      text-align: right;
      align-self: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__progress {
    width: 100%;
    height: 28px;
    border-radius: 100px;
    background-color: $primary-300;
    @include textType(18px, 18px);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: $white;
    &__bar {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      background: $primary-500;
    }
  }
  &__strike {
    font-size: 14px;
    line-height: 20px;
    color: $grayscale-500;
    display: block;
    text-decoration: line-through;
  }
  &__countdown {
    font-size: 12px;
    line-height: 16px;
    color: $grayscale-500;
  }
  &__tag {
    &s {
      display: flex;
      flex-wrap: wrap;
    }
    margin: 0 $spacing * 2 $spacing * 2 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  &__main-price {
    @include textType(18px, 21px, 600);
    color: $primary-500;
    margin-bottom: 8px;
  }
  &__config {
    background: $grayscale-100;
    padding: 8px;
    border-radius: 6px;
    &__param {
      span {
        display: inline-flex;
        align-items: center;
        margin-right: $spacing * 2;
        margin-bottom: $spacing;
        @include textType(14px, 20px);
        color: $grayscale-500;
        cursor: help;
        position: relative;
        i {
          margin-right: 4px;
          font-size: 16px;
          color: #b6bfc7;
        }
        &:before {
          content: attr(data-info);
          position: absolute;
          z-index: 2;
          bottom: calc(100% + 5px);
          left: 50%;
          background: #333;
          padding: 3px 5px;
          border-radius: 4px;
          white-space: nowrap;
          color: #cecece;
          transform: translateX(-50%);
          transition: all 0.4s ease;
          opacity: 0;
          visibility: hidden;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: calc(100% - 5px);
          left: 40%;
          border-width: 5px;
          border-style: solid;
          border-color: #333 transparent transparent transparent;
          transition: all 0.4s ease;
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          &:before,
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    &.list-layout {
      display: none;
    }
  }
  &__img-promo {
    margin-top: 4px;
    margin-bottom: $spacing * 2;
    display: flex;
    flex-wrap: wrap;
    span {
      display: inline-block;
      width: 36px;
      height: 36px;
      overflow: hidden;
      line-height: 36px;
      text-align: center;
      background: #fff;
      border-radius: 50%;
      overflow: hidden;
      &.active {
        -webkit-box-shadow: 0 0 0 1px #dee2e6;
        box-shadow: 0 0 0 1px #dee2e6;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        vertical-align: top;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  &__text-promo {
    font-size: 13px;
    line-height: 18px;
    color: $grayscale-700;
    @include text-shorten(2);
  }
  &__btn {
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    .btn {
      font-weight: 500;
      @include textType(16px, 1);
      padding: 0;
      &:hover {
        color: $white;
      }
    }
    .btn-main {
      flex: 1;
    }
    .btn-sub {
      margin-left: 8px;
      width: 35%;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: -5px;
    .price {
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: $primary-500;
    }
    .text {
      span {
        display: block;
        font-size: 12px;
        line-height: 16px;
        color: $grayscale;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        color: $grayscale-700;
        margin-bottom: 0;
      }
    }
  }
  &__memory {
    display: flex;
    margin-bottom: $spacing * 2;
    background-color: $grayscale-200;
    border-radius: $border-radius;
    &__item {
      flex: 1;
      position: relative;
      border-radius: $border-radius;
      color: $grayscale-700;
      padding: 8px 6px;
      text-align: center;
      cursor: pointer;
      transition: $transition;
      &:hover,
      &.active {
        background-color: $grayscale-700;
        color: $white;
      }
    }
  }
  &__params {
    border-radius: $border-radius-md;
    padding: 8px;
    background: $grayscale-100;
    .text {
      color: $grayscale-500;
    }
    i {
      display: inline-flex;
      transform: translateY(1px);
      color: $grayscale-500;
    }
  }
  $this: &;
  &:hover {
    z-index: 3;
    &:before {
      content: '';
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 6px;
      box-shadow: $shadow-drop-200;
      // border: solid 1px #dee2e6;
    }
    #{$this}__btn {
      opacity: 1;
      visibility: visible;
      animation: fadeInFromNone 0.7s ease-out forwards;
    }
    #{$this}__img {
      img {
        transform: scale(1.03);
      }
    }
  }
  @include responsive(md) {
    &#{$this}--absolute {
      padding: 10px;
      .product__btn {
        width: calc(100% - 20px);
      }
      &:before {
        height: calc(100% + 64px + 6px);
      }
    }
    &#{$this}--pk {
      &:before {
        height: calc(100% + 28px - 4px + 8px);
      }
    }
    &#{$this}--single-button {
      padding: 10px;
      .product__btn {
        width: calc(100% - 20px);
      }
      &:before {
        height: calc(100% + 28px + 6px);
      }
    }
    &__img {
      padding: 0;
      height: 0;
      overflow: hidden;
      padding-top: 100%;
      background: white;
      position: relative;
      margin-bottom: 8px;
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &__label {
      span {
        border: none;
        @include textType(12px, 12px);
      }
    }
    &__name {
      @include textType(14px, 20px);
      margin-bottom: 8px;
    }
    &__tag {
      &s {
        .badge {
          padding: 2px 6px;
        }
      }
    }
    &__timing {
      display: flex;
      flex-wrap: wrap;
      &__left {
        flex-basis: 100px;
      }
      &__right {
        flex-basis: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__progress {
      width: 100px;
      height: 22px;
      margin-bottom: 4px;
      @include textType(14px, 20px);
    }
    &__price {
      flex-direction: column;
      align-items: baseline;
      .price {
        @include textType(14px, 20px);
        margin-bottom: 4px;
      }
    }
    &__strike {
      @include textType(13px, 18px);
    }
    &__config__param {
      span {
        @include textType(12px, 16px);
      }
    }
    &__text-promo {
      @include textType(12px, 16px);
    }
    &__btn {
      flex-wrap: wrap;
      top: calc(100% - 2px);
      .btn {
        flex-basis: 100%;
        height: 28px;
        @include textType(14px, 1);
      }
      .btn-sub {
        margin: 8px 0 0 0;
      }
    }
  }
  &--horizontal {
    padding: 12px;
    display: flex;
    & + & {
      box-shadow: $shadow-inset-top-100;
    }
    #{$this}__img {
      height: unset;
      width: 124px;
      padding: 0;
      margin-bottom: 0;
      margin-right: 16px;
      a {
        display: block;
        position: relative;
        padding-bottom: 100%;
        img {
          position: absolute;
          top: 0;
          left: 0;
        }
        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100% !important;
        }
      }
    }
    #{$this}__info {
      flex: 1;
    }
    #{$this}__btn {
      width: 211px;
      opacity: 1;
      justify-content: flex-end;
      align-items: center;
      visibility: visible;
      .btn {
        padding: 0 16px;
      }
    }
    &:hover {
      &:before {
        display: none;
      }
      #{$this}__btn {
        animation: none;
      }
    }
  }
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  $this: &;
  &--4 {
    .product__item {
      align-self: baseline;
      flex-basis: 25%;
    }
  }
  &--3 {
    .product__item {
      align-self: baseline;
      flex-basis: 33.33%;
    }
  }
  &--2 {
    .product__item {
      align-self: baseline;
      flex-basis: 50%;
    }
  }
}
