.tooltip {
	position: relative;
	cursor: pointer;
	$this: &;
	&-box {
		font-family: $font-family;
		position: absolute;
		z-index: 2;
		background: $white;
		color: $grayscale-700; 
		padding: $spacing * 2 - 1 $spacing * 3 - 1;
		border-radius: $border-radius + 2;
		border: $border-default;
		text-align: left;
		transition: all  $transition-duration-sm $timing-ease-end;
		opacity: 0;
		visibility: hidden;
		@extend .d-s-200;
		&,
		&:after,
		&:before {
			transition-duration: $transition-duration-sm;
			transition-timing-function: $timing-ease-end;
			opacity: 0;
			visibility: hidden;
		}
		&:after,
		&:before {
			content: '';
			position: absolute; 
		}
	}
	&-default {
		#{$this}-box {
			bottom: calc(100% + #{$spacing});
			left: 0;
			transition-duration: $transition-duration-sm;
			transition-timing-function: $timing-ease-end;
		}
	}
	&-top,
	&-bottom {
		#{$this}-box {
			&,
			&:after,
			&:before {
				left: 50%;
			}
		}
		&:hover {
			#{$this}-box {
				&,
				&:after,
				&:before {
					transform: translate3d(-50%, 0, 0);
				}
			}
		}
	}
	&-left,
	&-right {
		#{$this}-box {
			&,
			&:after,
			&:before {
				bottom: 50%;
				transform: translate3d(-20%, 50%, 0);
			}
		}
		&:hover {
			#{$this}-box {
				&,
				&::after,
				&::before {
					transform: translate3d(0, 50%, 0);
				}
			}
		}
	}
	&-top {
		#{$this}-box {
			bottom: calc(100% + #{$spacing * 2});
			&:after {
				bottom: -13px;
				border: 7px solid transparent;
				border-left-width: 4px;
				border-right-width: 4px;
				border-top-color: $white;
			}
			&:before {
				bottom: -15px;
				border: 7px solid transparent;
				border-left-width: 4px;
				border-right-width: 4px;
				border-top-color: $grayscale-400;
			}
			&,
			&::before,
			&::after {
				transform: translate3d(-50%, 20%, 0);
			}
		}
	}
	&-bottom {
		#{$this}-box {
			top: calc(100% + #{$spacing * 2});
			&:after {
				top: -13px;
				border: 7px solid transparent;
				border-left-width: 4px;
				border-right-width: 4px;
				border-bottom-color: $white;
			}
			&:before {
				top: -15px;
				border: 7px solid transparent;
				border-left-width: 4px;
				border-right-width: 4px;
				border-bottom-color: $grayscale-400;
			}
			&,
			&::before,
			&::after {
				transform: translate3d(-50%, -20%, 0);
			}
		}
	}
	&-left {
		#{$this}-box {
			right: calc(100% + #{$spacing * 2});
			&:after {
				right: -13px;
				border: 7px solid transparent;
				border-top-width: 4px;
				border-bottom-width: 4px;
				border-left-color: $white;
			}
			&:before {
				right: -15px;
				border: 7px solid transparent;
				border-top-width: 4px;
				border-bottom-width: 4px;
				border-left-color: $grayscale-400;
			}
			&,
			&:after,
			&:before {
				bottom: 50%;
				transform: translate3d(20%, 50%, 0);
			}
		}
	}
	&-right {
		#{$this}-box {
			left: calc(100% + #{$spacing * 2});
			&:after {
				left: -13px;
				border: 7px solid transparent;
				border-top-width: 4px;
				border-bottom-width: 4px;
				border-right-color: $white;
			}
			&:before {
				left: -15px;
				border: 7px solid transparent;
				border-top-width: 4px;
				border-bottom-width: 4px;
				border-right-color: $grayscale-400;
			}
			&,
			&:after,
			&:before {
				bottom: 50%;
				transform: translate3d(-20%, 50%, 0);
			}
		}
	}
	&-extra {
		#{$this}-box {
			min-height: 64px;
			min-width: 344px;
			max-width: 80%;
		}
	}
	&:hover {
		#{$this}-box {
			&,
			&:after,
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// color
	&-dark {
		#{$this}-box {
			background: $grayscale;
			color: $white;
		}
		&#{$this}-top,
		&#{$this}-left,
		&#{$this}-bottom,
		&#{$this}-right {
			#{$this}-box {
				&:before {
					display: none;
				}
			}
		}
		&#{$this}-top {
			#{$this}-box {
				&:after {
					border-top-color: $grayscale;
				}
			}
		}
		&#{$this}-left {
			#{$this}-box {
				&:after {
					border-left-color: $grayscale;
				}
			}
		}
		&#{$this}-bottom {
			#{$this}-box {
				&:after {
					border-bottom-color: $grayscale;
				}
			}
		}
		&#{$this}-right {
			#{$this}-box {
				&:after {
					border-right-color: $grayscale;
				}
			}
		}
	}
}
