@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}
@mixin make-container-max-widths(
  $list-max-width: $container-max-widths,
  $breakpoints: $grid-breakpoints
) {
  @each $break, $max-width in $list-max-width {
    @include media-breakpoint-up($break, $breakpoints) {
      width: $max-width;
    }
  }
}
@mixin make-container() {
  width: 100%;
  max-width: 1200px;
  padding-right: $grid-gutter-base;
  padding-left: $grid-gutter-base;
  margin-right: auto;
  margin-left: auto;
  @include responsive(sm) {
    padding-right: $grid-gutter-base - 2;
    padding-left: $grid-gutter-base - 2;
  }
}

@mixin make-container-mb() {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@mixin make-container-mb-max-widths(
  $list-max-width: $container-mb-max-widths,
  $breakpoints: $grid-mb-breakpoints
) {
  @each $break, $max-width in $list-max-width {
    @include media-breakpoint-up($break, $breakpoints) {
      width: $max-width;
    }
  }
}
// @mixin make-container-non-respond() {
// 	max-width: 75rem;
// 	width: 100%;
// 	padding-top: 3rem;
// 	padding-right: $grid-gutter-base;
// 	padding-left: $grid-gutter-base;
// 	margin-right: auto;
// 	margin-left: auto;
// }
// ROW

@mixin make-row() {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(#{#{$grid-gutter-width}}/ -2);
  margin-left: calc(#{$grid-gutter-width}/ -2);
}
@mixin make-row-mb() {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(#{$grid-gutter-width} / -4);
  margin-left: calc(#{$grid-gutter-width} / -4);
  @each $media in map-values($grid-mb-breakpoints) {
    @media (max-width: $media) {
      @if str-index($media, '375px') {
        margin-right: calc(#{$grid-gutter-width} / -6);
        margin-left: calc(#{$grid-gutter-width} / -6);
      }
    }
  }
}

// Column

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-max($name, $breakpoints) == null, '', '-#{$name}');
}
@function breakpoint-mb-infix($name, $breakpoints: $grid-mb-breakpoints) {
  @return if(breakpoint-max($name, $breakpoints) == null, '', '-#{$name}');
}
@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: percentage($size / $columns);
}
@mixin make-col-offset($size, $columns: $grid-columns) {
  $num: $size / $columns;
  margin-left: if($num == 0, 0, percentage($num));
}

@mixin make-col-mb($size, $columns: $grid-mb-columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}
@mixin make-col-mb-offset($size, $columns: $grid-columns) {
  $num: $size / $columns;
  margin-left: if($num == 0, 0, percentage($num));
}

%grid-column {
  position: relative;
  width: 100%;
  min-height: 1px; // Prevent columns from collapsing when empty
  padding-right: 12px;
  padding-left: 12px;
}
%grid-mb-column {
  position: relative;
  width: 100%;
  min-height: 1px; // Prevent columns from collapsing when empty
  padding-right: 6px;
  padding-left: 6px;
}
@mixin make-grid-columns($columns: $grid-columns, $breakpoints: $grid-breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
      .col#{$infix}-#{$i} {
        @extend %grid-column;
      }
    }

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      // Provide basic `.col-{bp}` classes for equal-width flexbox columns
      .col#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding: 0 $grid-gutter-base;
      }
      .col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none; // Reset earlier grid tiers
      }

      @for $i from 1 through $columns {
        .col#{$infix}-#{$i} {
          @include make-col($i, $columns);
        }
      }
    }
  }
}
@mixin make-grid-mb-columns($columns: $grid-mb-columns) {
  [class*='col-mb'] {
    @each $media in map-values($grid-mb-breakpoints) {
      @media (max-width: $media) {
        @if str-index($media, '375px') {
          padding-right: calc(#{$grid-gutter-width} / 6);
          padding-left: calc(#{$grid-gutter-width} / 6);
        }
      }
    }
  }
  @for $i from 1 through $columns {
    .col-mb-#{$i} {
      @extend %grid-mb-column;
    }
  }

  @for $i from 1 through $columns {
    .col-mb-#{$i} {
      @include make-col-mb($i);
    }
  }
}
