@mixin typography($type: text, $weight: false) {
  @if $type== heading {
    color: $headings-color;
  }
  @if $type== paragraph {
    color: $paragraph-color;
  }
  @if $type== text {
    color: $paragraph-color;
  }
  @if $weight {
    font-weight: 500;
  } @else {
    font-weight: 400;
  }
}
@mixin textPost($size: '14') {
  @each $fs, $lh in $fsPosts {
    @if $size == $fs {
      font-size: #{$fs + 'px'};
      line-height: #{$lh + 'px'};
    }
  }
}
@mixin textUI($size: '14') {
  @each $s in $fsUIs {
    @if $size == $s {
      font-size: #{$size + 'px'};
      line-height: #{$size + 'px'};
    }
  }
}
