//
// Fonts icon
//
@font-face {
  font-family: $font-icon-family;
  src: url('../fonts/Icon/icon.eot?7h9xfl');
  src: url('../fonts/Icon/icon.eot?7h9xfl#iefix') format('embedded-opentype'),
    url('../fonts/Icon/icon.ttf?7h9xfl') format('truetype'),
    url('../fonts/Icon/icon.woff?7h9xfl') format('woff'),
    url('../fonts/Icon/icon.svg?7h9xfl#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

font-face {
  font-family: $font-travel;
  src: url('../fonts/samsung/SamsungOne-700.eot');
  src: url('../fonts/samsung/SamsungOne-700.eot?#iefix') format('embedded-opentype'), url('../fonts/samsung/SamsungOne-700.woff2') format('woff2'), url('../fonts/samsung/SamsungOne-700.woff') format('woff'), url('../fonts/samsung/SamsungOne-700.ttf') format('truetype'), url('../fonts/samsung/SamsungOne-700.svg#../fonts/samsung/SamsungOne-700') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-travel;
  src: url('../fonts/samsung/SamsungOne-800.eot');
  src: url('../fonts/samsung/SamsungOne-800.eot?#iefix') format('embedded-opentype'), url('../fonts/samsung/SamsungOne-800.woff2') format('woff2'), url('../fonts/samsung/SamsungOne-800.woff') format('woff'), url('../fonts/samsung/SamsungOne-800.ttf') format('truetype'), url('../fonts/samsung/SamsungOne-800.svg#../fonts/samsung/SamsungOne-800') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-travel;
  src: url('../fonts/samsung/SamsungOne-300.eot');
  src: url('../fonts/samsung/SamsungOne-300.eot?#iefix') format('embedded-opentype'), url('../fonts/samsung/SamsungOne-300.woff2') format('woff2'), url('../fonts/samsung/SamsungOne-300.woff') format('woff'), url('../fonts/samsung/SamsungOne-300.ttf') format('truetype'), url('../fonts/samsung/SamsungOne-300.svg#../fonts/samsung/SamsungOne-300') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-travel;
  src: url('../fonts/samsung/SamsungOne-400C.eot');
  src: url('../fonts/samsung/SamsungOne-400C.eot?#iefix') format('embedded-opentype'), url('../fonts/samsung/SamsungOne-400C.woff2') format('woff2'), url('../fonts/samsung/SamsungOne-400C.woff') format('woff'), url('../fonts/samsung/SamsungOne-400C.ttf') format('truetype'), url('../fonts/samsung/SamsungOne-400C.svg#../fonts/samsung/SamsungOne-400C') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

