//
// Fonts icon
//
@font-face {
  font-family: $font-icon-family;
  src: url('../fonts/Icon/icon.eot?7h9xfl');
  src: url('../fonts/Icon/icon.eot?7h9xfl#iefix') format('embedded-opentype'),
    url('../fonts/Icon/icon.ttf?7h9xfl') format('truetype'),
    url('../fonts/Icon/icon.woff?7h9xfl') format('woff'),
    url('../fonts/Icon/icon.svg?7h9xfl#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

//
// Fonts Family
//
@font-face {
  font-family: $font-family;
  src: url('../fonts/Roboto/Roboto-Thin.eot');
  src: url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Thin.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: $font-family;
  src: url('../fonts/Roboto/Roboto-Light.eot');
  src: url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Light.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: $font-family;
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family;
  src: url('../fonts/Roboto/Roboto-Medium.eot');
  src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family;
  src: url('../fonts/Roboto/Roboto-Black.eot');
  src: url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Black.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: $font-family;
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
