// === font icon ===
$font-icon-family: 'icon' !default;

// === font family ===
$font-family: 'Roboto';
$font-travel: 'samsung';

//
// Color system
//

$primary-travel:#4D46FA;

$primary-100: #ffebeb;
$primary-200: #f9c7c9;
$primary-300: #ef7c80;
$primary-400: #e55055;
$primary-500: #cb1c22;
$primary-600: #bd1319;
$primary-700: #99090e;
$primary-800: #750206;
$primary-900: #610003;

$link-100: #cce8fe;
$link-200: #9bcdfe;
$link-300: #68adfd;
$link-400: #4391fb;
$link-500: #0664f9;
$link-600: #044dd6;
$link-700: #0339b3;
$link-800: #012890;
$link-900: #011c77;

$grayscale-100: #f8f9fa;
$grayscale-200: #edeeef;
$grayscale-300: #e1e4e6;
$grayscale-400: #cbd1d6;
$grayscale-500: #939ca3;
$grayscale-600: #6a737a;
$grayscale-700: #444b52;
$grayscale-800: #32373d;
$grayscale-900: #212529;

$success-100: #f0fff4;
$success-200: #c6f6d5;
$success-300: #9ae6b4;
$success-400: #68d391;
$success-500: #48bb78;
$success-600: #38a169;
$success-700: #2f855a;
$success-800: #276749;
$success-900: #22543d;

$info-100: #ebf8ff;
$info-200: #bee3f8;
$info-300: #90cdf4;
$info-400: #63b3ed;
$info-500: #4299e1;
$info-600: #3182ce;
$info-700: #2b6cb0;
$info-800: #2c5282;
$info-900: #2a4365;

$warning-100: #fefae8;
$warning-200: #fdf1ba;
$warning-300: #fbe48e;
$warning-400: #f6c743;
$warning-500: #efb140;
$warning-600: #d69e2e;
$warning-700: #b7791f;
$warning-800: #975a16;
$warning-900: #744210;

$danger-100: #fff6f5;
$danger-200: #fedad7;
$danger-300: #feb7b2;
$danger-400: #fc8981;
$danger-500: #f56f65;
$danger-600: #e5493e;
$danger-700: #c53a30;
$danger-800: #9b332c;
$danger-900: #742f2a;

$black-15: rgba(0, 0, 0, 0.15);
$black-30: rgba(0, 0, 0, 0.3);
$black-50: rgba(0, 0, 0, 0.5);
$black-70: rgba(0, 0, 0, 0.7);
$black-100: #000;

$white-15: rgba(255, 255, 255, 0.15);
$white-30: rgba(255, 255, 255, 0.3);
$white-50: rgba(255, 255, 255, 0.5);
$white-70: rgba(255, 255, 255, 0.7);
$white-100: #fff;

$white: $white-100 !default;
$black: $black-100 !default;

$primary: $primary-500 !default;
$link: $link-500 !default;
$grayscale: $grayscale-500 !default;
$success: $success-500 !default;
$info: $info-500 !default;
$warning: $warning-500 !default;
$danger: $danger-500 !default;

// Styling by enabling or disabling optional features.

$enable-grid-classes: true !default;
$enable-rounded: true !default;
$enable-gradients: false !default;

// Grid column

$grid-gutter-base: 12px !default;
$grid-columns: 12 !default;
$grid-mb-columns: 6 !default;
// $grid-columns10: 10 !default;
$grid-gutter-width: $grid-gutter-base * 2 !default;

// Grid breakpoint to set maximum witdh for desktop

$container-max-widths: (
  lg: 97rem,
  md: 75rem,
  sm: 55rem,
  xs: 100%,
) !default;

// Grid breakpoint to set maximum witdh for mobile

$container-mb-max-widths: (
  md: 378px,
  sm: 352px,
  xs: 340px,
) !default;

// Define the maximum width of `.container` for different screen sizes.

// Define for deskstop
$grid-breakpoints: (
  none: 0,
  xl: 1400px,
  lg: 1200px,
  md: 992px,
  sm: 768px,
  xs: 576px,
) !default;

// Define for mobile
$grid-mb-breakpoints: (
  md: '414px',
  sm: '375px',
  xs: '360px',
) !default;

// Typography
$headings-color: $grayscale-800 !default;
$paragraph-color: $grayscale-700 !default;

// border
$border-style: solid !default;
$border-width: 1px !default;
$border-radius: 4px !default;
$border-radius-md: 6px !default;
$border-radius-lg: 8px !default;
$border-100: $border-width $border-style $grayscale-100;
$border-200: $border-width $border-style $grayscale-200;
$border-300: $border-width $border-style $grayscale-300;
$border-400: $border-width $border-style $grayscale-400;
$border-default: $border-400;

// box shadow
$box-shadow: inset -1px 0px 0px $grayscale-200;
$box-shadow-100: inset 0px -1px 0px $grayscale-200;

$shadow-inset-top-100: inset 0px 1px 0px $grayscale-200;
$shadow-inset-top-200: inset 0px 1px 0px $grayscale-300;
$shadow-inset-top-300: inset 0px 1px 0px $grayscale-400;

$shadow-inset-bottom-100: inset 0px -1px 0px $grayscale-200;
$shadow-inset-bottom-200: inset 0px -1px 0px $grayscale-300;
$shadow-inset-bottom-300: inset 0px -1px 0px $grayscale-400;

$shadow-drop-200: 0px 1px 4px rgba(10, 10, 10, 0.15);

$text-grayscale-colors: (
  '100': $grayscale-100,
  '200': $grayscale-200,
  '300': $grayscale-300,
  '400': $grayscale-400,
  '500': $grayscale-500,
  '600': $grayscale-600,
  '700': $grayscale-700,
  '800': $grayscale-800,
  '900': $grayscale-900,
);
$border-effect-colors: (
  '100': $grayscale-200,
  '200': $grayscale-300,
  '300': $grayscale-400,
  '400': $grayscale-500,
  '500': $grayscale-600,
  '600': $grayscale-700,
  '700': $grayscale-800,
  '800': $grayscale-900,
);
// Text Color
$theme-colors: (
  'primary': $primary,
  'link': $link,
  'grayscale': $grayscale,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
);

$theme-colors-hover: (
  'primary': $primary-600,
  'link': $link-600,
  'grayscale': $grayscale-600,
  'success': $success-600,
  'info': $info-600,
  'warning': $warning-600,
  'danger': $danger-600,
);
$theme-colors-focus: (
  'primary': $primary-700,
  'link': $link-700,
  'grayscale': $grayscale-500,
  'success': $success-700,
  'info': $info-700,
  'warning': $warning-700,
  'danger': $danger-700,
);
$theme-colors-disable: (
  'primary': $primary-400,
  'link': $link-400,
  'grayscale': $grayscale-300,
  'success': $success-400,
  'info': $info-400,
  'warning': $warning-400,
  'danger': $danger-400,
);

// spacing
$spacing: 4px !default;
$sp1: $spacing;
$sp2: $spacing * 2;
$sp3: $spacing * 3;
$sp4: $spacing * 4;
$sp5: $spacing * 5;
$sp6: $spacing * 6;
$sp7: $spacing * 7;
$sp8: $spacing * 8;
$sp9: $spacing * 9;
$sp10: $spacing * 10;

$spacings: 0, 2, 4, 8, 12, 16, 24, 32, 40, 48, 64;
$spacingsXY: 0, 2, 4, 6, 8, 12, 16, 24;

//timing
$timing-linear: cubic-bezier(0, 0, 1, 1);
$timing-ease-start: cubic-bezier(0.5, 0, 1, 1);
$timing-ease-end: cubic-bezier(0, 0, 0.4, 1);
$timing-ease-start-end: cubic-bezier(0.45, 0, 0.4, 1);
// transition
$transition-duration-sm: 0.3s;
$transition-duration-md: 0.6s;
$transition-duration-lg: 0.9s;
$transiton-timing: ease-in-out;
$transition: all $transition-duration-sm $transiton-timing !default;
$transition-md: all $transition-duration-md $transiton-timing !default;
$transition-lg: all $transition-duration-lg $transiton-timing !default;

// Buttons
$btn-transition: color $transition-duration-sm $timing-ease-end,
  background-color $transition-duration-sm $timing-ease-end,
  border-color $transition-duration-sm $timing-ease-end,
  box-shadow $transition-duration-sm $timing-ease-end !default;

// Forms
$input-padding-y: 7.5px !default;
$input-padding-x: 11px !default;
$input-line-height: 1.5 !default;

$form-check-input-gutter: 20px !default;
$form-check-input-margin-y: 1px !default;
$form-check-input-margin-x: 12px !default;
$font-size-base: 1rem !default;

$fsPosts: (
  '12': '16',
  '13': '18',
  '14': '20',
  '15': '20',
  '16': '24',
  '18': '24',
  '20': '28',
  '24': '32',
  '28': '36',
  '32': '40',
  '36': '48',
  '44': '60',
);
$fsUIs: ('12', '13', '14', '15', '16', '18', '20', '24', '28', '32', '36', '44');
